


{% if collection %}
<nav class="breadcrumbs js-breadcrumbs hide_on_small" role="navigation">

	{% assign crumbs = collection.title | split: '-' %}
	{% assign url = crumbs[0] %}

	{% for crumb in crumbs offset:1 %}
	{% assign url = url | append: '-' | append: crumb %}
	{% assign words = crumb | split: '.' %}
	<span class="breadcrumb__arrow"><i class="fa fa-long-arrow-right"></i></span> <a href="/collections/{{ url }}" class="breadcrumb">{% for word in words %}{{ word | capitalize }} {% endfor %}</a>
	{% endfor %}
  

</nav>
{% endif %}
