<footer class="padded--very_thick padded--small_bottom black_back hide_for_ctr">

	<div class="grid grid--center">

		<div class="col col--8of12 col--medium--10of12 col--small--12of12 bigass_bottom">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//ChaosHats.us11.list-manage.com/subscribe/post?u=e6c923de1d279a82099a4dd90&amp;id={{ settings.newsletter_form_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid grid--tight grid--center" target="_blank" novalidate>

					<div class="col col--9of12 col--medium--8of12 col--small--12of12 normal_bottom">
						<div id="mc_embed_signup_scroll">

						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email input--big" id="mce-EMAIL" placeholder="Enter your email to receive our newsletter">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_e6c923de1d279a82099a4dd90_de13555b5f" tabindex="-1" value=""></div>
						</div>
					</div>

					<div class="col col--3of12 col--medium--4of12 col--small--12of12">
						<div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button--full button--transparent">Subscribe <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button></div>
					</div>
				</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>

  <div class="grid">
	<div class="col col--2of12 col--small--6of12">
		<ul class="nav__list nav__list--small">
			<li><strong>{{ linklists['footer-shop'].title }}</strong></li>

			{% for link in linklists['footer-shop'].links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col col--2of12 col--small--6of12">
		<ul class="nav__list nav__list--small">
			<li><strong>{{ linklists['footer-help'].title }}</strong></li>

			{% if customer %}
			<li>
			{% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
            </li>
			<li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
			{% else %}
			<li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
			<li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
			{% endif %}

			{% for link in linklists['footer-help'].links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col col--2of12 col--small--6of12 col--extend_2of12">
		<ul class="nav__list nav__list--small">
			<li><strong>{{ linklists['footer-company'].title }}</strong></li>

			{% for link in linklists['footer-company'].links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="col col--4of12 col--small--6of12">
		<ul class="nav__list nav__list--small">
			<li><strong>{{ linklists['footer-social'].title }}</strong></li>

			{% for link in linklists['footer-social'].links %}
			<li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
  </div>
 </footer>