

<header class="header white_back fixed fixed--top hide_for_ctr">
	<nav class="grid grid--no_gutter grid--middle" id="nav">
		<div class="col col--2of12 col--small--1of12">
			<a href="/">
				<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="padded header__logo hide_on_small">
				<img src="{{ 'tiny_logo.png' | asset_url }}" alt="{{ shop.name }}" class="header__logo small_only">
			</a>
		</div>

		<div class="col col--8of12 col--small--7of12 text_center text_left_on_small js-nav__super_container">
			{% assign vendor_handle = linklists.chaos.handle %}
			{% for gender in linklists[vendor_handle].links %}
			<a href="{{ gender.url }}" class="button nav__button js-nav__button hide_on_small">{{ gender.title }}</a>
			<button class="button nav__button js-nav__button small_only">{{ gender.title }}</button>

			{% assign gender_handle = vendor_handle | append:'-' | append:gender.handle %}
			<nav class="fixed fixed--almost_top nav__container black_back padded--horizontally_thick js-nav__container {% if linklists[gender_handle].links == empty %}hide{% endif %}">
				<div class="grid">

					
					{% for category in linklists[gender_handle].links %}
					<ul class="col col--2of12 col--medium--3of12 col--small--6of12 nav__list text_left">
						<li><a href="{{ category.url }}"><strong>{{ category.title }}</strong></a></li>

						{% assign category_handle = gender_handle | append:'-' | append:category.handle %}
						{% for sub_category in linklists[category_handle].links %}
						<li><a href="{{ sub_category.url }}">{{ sub_category.title }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</nav>
			{% endfor %}
		</div>

		<div class="col col--1of12 col--small--2of12">
			<a href="{{ settings.ctr_link }}"><img src="{{ 'ctr_logo.png' | asset_url }}" alt="CTR" class="header__logo header__logo--ctr"></a>
		</div>

		<div class="col col--1of12 col--small--2of12 text_right">
			<a href="#" class="button nav__button nav__button--search js-search_button"><i class="fa fa-search"></i></a>


		</div>
	</nav>
</header>