

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="col col--4of12 col--larger--3of12 col--medium--6of12 col--small--12of12 text_center product js-product">

  <a href="{{ product.url | within: collection }}" class="container product__image js-link">
    <img src="https://placehold.it/400x400/E5E5E5/FFFFFF/&text=⋯" class="container__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="container__image container__image--front js-image">

    <div class="product__white"></div>
    
    <div class="container__text container__text--center">
      <button>See Item <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
    </div>
  </a>
  
  <div class="padded white_back">
    
    <a href="{{ product.url | within: collection }}" class="js-link">

      <h3 class="tiny_bottom">{% if search %}{{ product.title | highlight: search.terms }}{% else %}{{ product.title }}{% endif %}</h3>

      <h5>
      {% if on_sale %}
        <s>{{ product.compare_at_price | money_with_currency }}</s>
        {{ product.price | money_with_currency }}
      {% else %}
        {{ product.price | money_with_currency }}
      {% endif %}
      {% if sold_out %}
        <strong>{{ 'products.product.sold_out' | t }}</strong>
      {% endif %}
      </h5>
    </a>


    <form>
      {% assign current_variant = product.selected_or_first_available_variant %}
      {% assign current_variant_color = current_variant.option1 %}
      {% assign current_variant_size = current_variant.option2 %}

      {% for variant in product.variants %}
      {% if current_variant_size == variant.option2 %}
      <input type="radio" name="color" class="radio--variant" {% if variant.option1 == current_variant_color %}checked{% endif %} value="{{ variant.option1 }}" id="color_{{ variant.id }}" data-img="{{ variant.image.src | img_url: 'large' }}" data-url="{{ variant.url | within: collection }}" data-color="{{ variant.option1 }}">
      <label for="color_{{ variant.id }}" title="{{ variant.option1 }}"></label>
      {% endif %}
      {% endfor %}
    </form>

  </div>
</div>