{% if collection %}
	{% assign linklist = linklists[collection.handle] %}
	{% if linklist.links.size == 0 %}
		{% assign remove = collection.handle | split: '-' | last | prepend: '-' %}
		{% assign handle = collection.handle | remove: remove %}
		{% assign linklist = linklists[handle] %}
	{% endif %}

	{% if linklist.links.size != 0 %}
	<div class="padded--very_thick light_grey_back text_center js-collections">
		<h2 class="h2--wide text_center big_bottom">Related Collections</h2>
		<div class="grid grid--no_gutter">
			{% for link in linklist.links %}
			<div class="col col--4of12 col--small--12of12 hide js-collection">
				<a href="{{ link.object.url }}" class="container product__image">
					<img src="{{ link.object.products[0].featured_image.src | img_url: 'large' }}" alt="{{ link.object.title | escape }}" class="container__image">

					<div class="product__white"></div>

					<div class="container__text container__text--center">
						<button>See collection <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
					</div>
				</a>

				<a href="{{ collection.url }}" class="padded">
					<h3 class="collection__description">{{ link.object.description }}</h3>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endif %}