{% if collection %}
	{% paginate collection.products by 18 %}
	<div class="padded--medium_top big_bottom text_center js-collections">
		<h2 class="big_bottom">You Might Also Like</h2>
		<div class="grid grid--no_gutter">
			{% for product in collection.products %}

			{% include 'products_product' %}

			{% endfor %}
		</div>
	</div>
	{% endpaginate %}
{% endif %}