

<section class="full fixed fixed--top faded_out" id="search">
	<div class="padded--extremely_thick full black_back white">
		<a href="#" class="absolute absolute--top_right nav__button js-hide_search"><span class="white">✕</span></a>

		<div class="container__text container__text--center">
			<h1 class="big_bottom text_center hide_on_small">What are you looking for ?</h1>
			
			<div class="grid grid--center">

				<div class="col col--7of12 col--medium--10of12 col--small--12of12 bigass_bottom">
					<form action="/search" method="get" role="search" class="grid grid--tight grid--center">
						<div class="col col--9of12 col--medium--8of12 col--small--10of12 normal_bottom">
							<input type="hidden" name="type" value="product">
							<input type="search" class="input--big input--transparent" name="q" value="{{ search.terms | escape }}" placeholder="Type in the product name, category, style, color…">
						</div>


						<div class="col col--3of12 col--medium--4of12 col--small--10of12">
							<button type="submit" class="button--full button--transparent">Submit <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
						</div>
						
					</form>
				</div>
			</div>
		</div>

	</div>
</section>