


<div class="padded--medium_top light_grey_back">
  
  <div class="padded--very_thick js-login">


      {% if form.posted_successfully? %}
      <h3 class="text_center big_bottom">{{ 'customer.recover_password.success' | t }}</h3>
      {% endif %}
      
      <div class="js-login_form">
      {% form 'customer_login' %}

        <h1 class="big_bottom text_center">{{ 'customer.login.title' | t }}</h1>


        <div class="grid grid--center">

          <div class="bigass_bottom">

            <div class="col col--8of12 col--medium--10of12 col--small--12of12">

              {{ form.errors | default_errors }}

              <label for="email" class="hide">{{ 'customer.login.email' | t }}</label>
              <input type="email" name="customer[email]" id="email" class="{% if form.errors contains 'email' %} error{% endif %} medium_bottom" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

              {% if form.password_needed %}
              <label for="password" class="hide">{{ 'customer.login.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="password" class="{% if form.errors contains 'password' %} error{% endif %} normal_bottom" placeholder="{{ 'customer.login.password' | t }}">
              {% endif %}

              <div class="text_left">
                <a href="/account/register" class="a--underline">New to the store?</a>
              </div>

            </div>

          </div>

          <div class="col col--3of12 col--medium--6of12 col--small--12of12">
            <button type="submit" class="button button--full button--dark medium_bottom">{{ 'customer.login.sign_in' | t }} <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>

            {% if form.password_needed %}
            <div class="big_bottom">
              <a href="#" class="button button--full button--bordered js-recover_button">{{ 'customer.login.forgot_password' | t }}</a>
            </div>
            {% endif %}

            <div class="text_center">
              <a href="{{ shop.url }}" class="a--underline">{{ 'customer.login.cancel' | t }}</a>
            </div>
          </div>

        </div>

        


    {% endform %}
    </div>


   
    <div class="js-recover_form hide">

      {% form 'recover_customer_password' %}

        <h1 class="small_bottom text_center">{{ 'customer.recover_password.title' | t }}</h1>
        <p class="big_bottom text_center">{{ 'customer.recover_password.subtext' | t: email: email }}</p>


          <div class="grid grid--center">

            <div class="bigass_bottom">

              <div class="col col--8of12 col--medium--10of12 col--small--12of12">

                {{ form.errors | default_errors }}

                <label for="email" class="hide">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" name="customer[email]" id="email" class="{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

              </div>

            </div>

            <div class="col col--3of12 col--medium--6of12 col--small--12of12">
              <button type="submit" class="button button--full button--dark medium_bottom">{{ 'customer.recover_password.submit' | t }} <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>

              <div class="big_bottom">
                <a href="#" class="button button--full button--bordered js-login_button">{{ 'customer.recover_password.cancel' | t }}</a>
              </div>

              <div class="text_center">
                <a href="{{ shop.url }}" class="a--underline">{{ 'customer.login.cancel' | t }}</a>
              </div>
            </div>

          </div>

          


      {% endform %}

    </div>
    


  </div>
</div>
