

<div class="padded--medium_top light_grey_back">
  <div class="padded--very_thick">

  

      {% form 'create_customer' %}

        <h1 class="big_bottom text_center">{{ 'customer.register.title' | t }}</h1>


        <div class="grid grid--center">

          <div class="bigass_bottom">

            <div class="col col--8of12 col--medium--10of12 col--small--12of12">



              {{ form.errors | default_errors }}

              <label for="first_name" class="hide">{{ 'customer.register.first_name' | t }}</label>
              <input type="text" name="customer[first_name]" id="first_name" class="medium_bottom " placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

              <label for="last_name" class="hide">{{ 'customer.register.last_name' | t }}</label>
              <input type="text" name="customer[last_name]" id="last_name" class="medium_bottom " placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

              <label for="email" class="hide">{{ 'customer.register.email' | t }}</label>
              <input type="email" name="customer[email]" id="email" class="medium_bottom {% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

              <label for="password" class="hide">{{ 'customer.register.password' | t }}</label>
              <input type="password" name="customer[password]" id="password" class="{% if form.errors contains 'password' %} error{% endif %} normal_bottom" placeholder="{{ 'customer.register.password' | t }}">

              <div class="text_left">
                <a href="/account/login" class="a--underline">Do you already have an account?</a>
              </div>

            </div>
          </div>

          <div class="col col--3of12 col--medium--6of12 col--small--12of12">
            <button type="submit" class="button button--full button--dark big_bottom">Create account <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
          

            <div class="text_center">
              <a href="{{ shop.url }}" class="a--underline">{{ 'customer.register.cancel' | t }}</a>
            </div>


          </div>


        </div>
      
      {% endform %}



  </div>

</div>
