


<div class="padded--medium_top light_grey_back">
  <div class="padded--very_thick">

  

      {% form 'reset_customer_password' %}

        <h1 class="small_bottom text_center">{{ 'customer.reset_password.title' | t }}</h1>
        <p class="big_bottom text_center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>


        <div class="grid grid--center">

          <div class="bigass_bottom">

            <div class="col col--8of12 col--medium--10of12 col--small--12of12">

              {{ form.errors | default_errors }}


              <label for="password" class="hide">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" name="customer[password]" id="password" class="{% if form.errors contains 'password' %} error{% endif %} medium_bottom" placeholder="{{ 'customer.reset_password.password' | t }}">

              <label for="password_confirmation" class="hide">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" name="customer[password_confirmation]" id="password_confirmation" class="" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

            </div>
          </div>

          <div class="col col--3of12 col--medium--6of12 col--small--12of12">
            <button type="submit" class="button button--full button--dark">{{ 'customer.reset_password.submit' | t }} <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>
        

          </div>


        </div>
      
      {% endform %}



  </div>

</div>








