<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  {% include 'meta' %}
  
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">


  {{ '//fonts.googleapis.com/icon?family=Material+Icons' | stylesheet_tag }}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Karla:400,700,400italic' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' | stylesheet_tag }}
  {{ 'all.css' | asset_url | stylesheet_tag }}


  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  
</head>


<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-stretchy-filter=".js-stretch">

  
  {% include 'header' %}

  
  {{ content_for_layout }}


  {% include 'cart' %}


  {% include 'search' %}



  {% include 'footer' %}

  

  
  
  {{ '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js' | script_tag }}
  
  {{ '//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js' | script_tag }}


  {% include 'currencies' %}
  
  
  {{ 'stretchy.min.js' | asset_url | script_tag }}

  
  <script>
    window.variant_colors = {{ settings.variant_colors | strip_newlines }};
  </script>
  {{ 'templates.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}




</body>
</html>
