.primary {
  color: #2B2B2B; }

.highlight {
  font-weight: normal;
  background: #E5E5E5; }

.secondary {
  color: #2D4A1A; }

.white {
  color: white; }

.black {
  color: #2B2B2B; }

.dark_black {
  color: #000000; }

.dark_grey {
  color: #9B9B9B; }

.darker_grey {
  color: #717171; }

.light_grey {
  color: #F2F1F0; }

.grey {
  color: #E5E5E5; }

.green {
  color: #2D4A1A; }

.red {
  color: #DD453E; }

.yellow {
  color: #ed970f; }

.light_grey_back {
  background: #F2F1F0; }

.grey_back {
  color: #2B2B2B;
  background: #E5E5E5; }

.white_back {
  background: white; }

.beige_back {
  background: #EAEAD8; }

.faded_white_back {
  background: rgba(255, 255, 255, 0.8); }

.shadow_back {
  background: rgba(0, 0, 0, 0.5); }

.with_shadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.header_back {
  color: white;
  background-color: #4A4A4A;
  background-size: cover;
  background-position: center; }

.black_back, .blue_back, .dark_black_back {
  background: #2B2B2B; }
  .black_back hr, .blue_back hr, .dark_black_back hr {
    border-color: white; }

.blue_back {
  background: #132B3A; }

.dark_black_back {
  background: #000000; }

.padded {
  padding: 1.286rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded {
      padding: 0.643rem; } }

.padded--tight {
  padding: 0.8573333333rem 1.286rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--tight {
      padding: 0.643rem; } }

.padded--thick, .page table p {
  padding: 5.144rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--thick, .page table p {
      padding: 2.572rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--thick, .page table p {
      padding: 1.286rem; } }

.padded--very_thick {
  padding: 10.288rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--very_thick {
      padding: 5.144rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--very_thick {
      padding: 1.286rem; } }

.padded--horizontally_thick {
  padding: 0.643rem 5.144rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--horizontally_thick {
      padding: 0.643rem 2.572rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--horizontally_thick {
      padding: 0.3215rem 1.286rem; } }

.padded--extremely_thick {
  padding: 18.004rem 2.572rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--extremely_thick {
      padding: 12.86rem 2.572rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--extremely_thick {
      padding: 7.716rem 1.286rem; } }

.padded--medium_top {
  padding-top: 5.357rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--medium_top {
      padding-top: 4.143rem; } }

.padded--big_top {
  padding-top: 10.288rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--big_top {
      padding-top: 5.144rem; } }

.padded--flat_top {
  padding-top: 0; }

.padded--small_top {
  padding-top: 3.858rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--small_top {
      padding-top: 2.572rem; } }

.padded--flat_bottom {
  padding-bottom: 0; }

.padded--small_bottom {
  padding-bottom: 2.572rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .padded--small_bottom {
      padding-bottom: 1.286rem; } }

.padded--right {
  padding-right: 3.858rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--right {
      padding-right: 0; } }

.padded--left {
  padding-left: 1.286rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .padded--left {
      padding-left: 0; } }

.relative {
  position: relative; }

.full, .modal, .modal__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9; }
  .full.full--bordered, .full--bordered.modal, .full--bordered.modal__back {
    border: 0.714rem solid white; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      .full.full--bordered, .full--bordered.modal, .full--bordered.modal__back {
        border: none; } }

.absolutely_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.absolute {
  position: absolute; }
  .absolute.absolute--top_right {
    top: 0;
    right: 0; }

.fixed, .currencies, .modal, .modal__back {
  position: fixed;
  top: 0;
  left: 0; }
  .fixed.fixed--top, .fixed--top.currencies, .fixed--top.modal, .fixed--top.modal__back {
    width: 100%;
    z-index: 10; }
  .fixed.fixed--almost_top, .fixed--almost_top.currencies, .fixed--almost_top.modal, .fixed--almost_top.modal__back {
    width: 100%;
    z-index: 8;
    top: 5.357rem; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      .fixed.fixed--almost_top, .fixed--almost_top.currencies, .fixed--almost_top.modal, .fixed--almost_top.modal__back {
        top: 4.143rem; } }
  .fixed.fixed--bottom, .fixed--bottom.currencies, .fixed--bottom.modal, .fixed--bottom.modal__back {
    width: 100%;
    z-index: 9;
    top: auto;
    bottom: 0; }
  .fixed.fixed--bottom_no_width, .fixed--bottom_no_width.currencies, .fixed--bottom_no_width.modal, .fixed--bottom_no_width.modal__back {
    z-index: 8;
    top: auto;
    bottom: 0; }

.border_bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

.flat_bottom {
  margin-bottom: 0; }

.tiny_bottom {
  margin-bottom: 0.3215rem; }

.small_bottom {
  margin-bottom: 0.643rem; }

.normal_bottom {
  margin-bottom: 1.286rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .normal_bottom {
      margin-bottom: 0.643rem; } }

.medium_bottom {
  margin-bottom: 1.286rem; }

.big_bottom {
  margin-bottom: 2.572rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .big_bottom {
      margin-bottom: 1.286rem; } }

.bigass_bottom {
  margin-bottom: 5.144rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .bigass_bottom {
      margin-bottom: 2.572rem; } }

@media all and (max-device-width:40rem), all and (max-width:40rem) {
  .normal_bottom_on_small {
    margin-bottom: 1.286rem; } }

.bottom--except_last:last-child {
  margin-bottom: 0; }

.with_top {
  margin-top: 5.144rem; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .with_top {
      margin-top: 2.572rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .with_top {
      margin-top: 0; } }

.text_left {
  text-align: left; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.text_justify {
  text-align: justify; }

.text_underline {
  text-decoration: underline; }

.text_uppercase {
  text-transform: uppercase; }

.line_through {
  text-decoration: line-through;
  font-family: "Karla", sans-serif; }

@media all and (max-device-width:40rem), all and (max-width:40rem) {
  .text_left_on_small {
    text-align: left; } }

@media all and (max-device-width:40rem), all and (max-width:40rem) {
  .text_center_on_small {
    text-align: center; } }

.float_right {
  float: right; }

.tight_line_height {
  display: inline-block;
  line-height: 1.2; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.disabled {
  opacity: 0.4;
  pointer-events: none; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.inline {
  display: inline; }

.inline_block {
  display: inline-block; }

.faded_out {
  visibility: hidden;
  opacity: 0;
  -ms-transition: opacity 0.333s, visibility 0s linear 0.333s;
  -webkit-transition: opacity 0.333s, visibility 0s linear 0.333s;
  transition: opacity 0.333s, visibility 0s linear 0.333s; }
  .faded_out.fade_in {
    visibility: visible;
    opacity: 1;
    -ms-transition: opacity 0.333s, visibility 0s;
    -webkit-transition: opacity 0.333s, visibility 0s;
    transition: opacity 0.333s, visibility 0s; }

*, *:before, *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }

html {
  font: 14px/1.286 "Karla", sans-serif;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  color: white;
  background: #2B2B2B; }

::selection {
  color: white;
  background: #2B2B2B; }

body {
  color: #2B2B2B;
  background: white;
  overflow-x: hidden;
  border: 0.714rem solid white;
  border-top: none; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    body {
      border: none; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: 0 0 1.286rem; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }
  h1 + h1, a + h1, h2 + h2, a + h2, h3 + h3, a + h3, h4 + h4, a + h4, h5 + h5, a + h5, h6 + h6, a + h6 {
    margin-top: 0; }

h1 {
  font-size: 3.429rem;
  letter-spacing: 2px; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    h1 {
      font-size: 2.714rem; } }
  h1.h1--smallish {
    font-size: 2.429rem;
    font-weight: bold;
    letter-spacing: 1px; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      h1.h1--smallish {
        font-size: 1.286rem; } }
  h1.h1--small {
    font-size: 1.571rem;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      h1.h1--small {
        font-size: 1.286rem; } }

h2 {
  font-size: 2.571rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    h2 {
      font-size: 1.286rem; } }
  h2.h2--wide {
    letter-spacing: 1px; }
  h2.h2--small {
    font-size: 2.286rem;
    text-transform: uppercase;
    font-weight: bold; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      h2.h2--small {
        font-size: 1.286rem; } }

h3 {
  font-size: 1.429rem;
  letter-spacing: 1px; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    h3 {
      font-size: 1.286rem; } }
  h3 small {
    font-size: 1.143rem; }
  h3.h3--big {
    font-size: 1.714rem; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      h3.h3--big {
        font-size: 1.286rem; } }
  h3.h3--small {
    font-size: 1.286rem; }
  h3.h3--bold {
    font-weight: bold; }

h4 {
  font-size: 1.214rem;
  letter-spacing: 1px; }

h5 {
  font-size: 1.143rem; }

h6 {
  font-size: 1rem; }
  h6.h6--small {
    font-size: 0.929rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  h6.h6--bold {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px; }

small, .small {
  font-size: 0.846rem;
  vertical-align: text-top; }

strong, .strong {
  font-weight: bold; }

p, figure, blockquote, pre {
  margin: 0 0 1.286rem; }

p.p--big {
  font-size: 1.143rem; }
p.p--thicklineheight {
  line-height: 1.8; }
p:last-child {
  margin-bottom: 0; }

ul, ol {
  padding-left: 1.308rem; }

li {
  margin: 0; }

blockquote {
  color: #E5E5E5;
  font-style: italic;
  text-align: center; }
  blockquote cite {
    color: #9B9B9B; }

a {
  position: relative;
  outline: none !important;
  color: inherit;
  text-decoration: none;
  -ms-transition: color 0.333s;
  -webkit-transition: color 0.333s;
  transition: color 0.333s; }
  a:focus, a:hover {
    color: #000000; }
  a.a--underline {
    text-decoration: underline; }
  a.a--highlight {
    color: #000000;
    text-decoration: underline; }
    a.a--highlight:focus, a.a--highlight:hover {
      color: #2D4A1A; }
  a.a--secondary {
    color: #2D4A1A;
    text-decoration: underline;
    text-transform: uppercase; }
    a.a--secondary:focus, a.a--secondary:hover {
      color: #000000; }

hr {
  margin: 1.286rem 0;
  border: 0;
  border-top: 1px solid #9B9B9B; }
  .grid > hr {
    margin-left: 1.286rem; }

pre, code {
  font-size: 0.8rem; }
  pre[class*="language-"], code[class*="language-"] {
    background: transparent;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2; }

iframe {
  display: block;
  width: 100%; }

.larger_only {
  display: none; }
  .larger_only.button, .page a.larger_only:only-child {
    display: none; }

@media all and (min-width:100rem) {
  .larger_only {
    display: block; }
    .larger_only.button, .page a.larger_only:only-child {
      display: inline-block; }
  .hide_on_larger {
    display: none !important; } }

.medium_only {
  display: none; }
  .medium_only.button, .page a.medium_only:only-child {
    display: none; }

@media all and (max-device-width:70rem), all and (max-width:70rem) {
  .medium_only {
    display: block; }
    .medium_only.button, .page a.medium_only:only-child {
      display: inline-block; }
  .hide_on_medium {
    display: none !important; } }

.small_only {
  display: none; }
  .small_only.button, .page a.small_only:only-child {
    display: none; }

@media all and (max-device-width:40rem), all and (max-width:40rem) {
  .small_only {
    display: block; }
    .small_only.button, .page a.small_only:only-child {
      display: inline-block; }
  .hide_on_small {
    display: none !important; } }

.grid {
  padding: 0;
  margin-left: -1.286rem;
  font-size: 0; }
  .grid.grid--no_gutter {
    margin-left: 0; }
  .grid.grid--center {
    text-align: center; }
  .grid.grid--right {
    text-align: right; }
  .grid.grid--tight {
    margin-left: -0.643rem; }
  .grid.grid--thick {
    margin-left: -2.572rem; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .grid {
      margin-left: -0.643rem; } }

.col {
  display: inline-block;
  vertical-align: top;
  padding-left: 1.286rem;
  font-size: 14px; }
  .grid--no_gutter > .col {
    padding-left: 0; }
  .grid--center > .col {
    text-align: left; }
  .grid--right > .col {
    text-align: left; }
  .grid--tight > .col {
    padding-left: 0.643rem; }
  .grid--thick > .col {
    padding-left: 2.572rem; }
  .grid--middle > .col {
    vertical-align: middle; }
  .grid--bottom .col {
    vertical-align: bottom; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col {
      padding-left: 0.643rem; } }
  .col.col--1of12 {
    width: 8.3333333333%; }
  .col.col--push_1of12 {
    margin-left: 8.3333333333%; }
  .col.col--extend_1of12 {
    margin-right: 8.3333333333%; }
  .col.col--2of12 {
    width: 16.6666666667%; }
  .col.col--push_2of12 {
    margin-left: 16.6666666667%; }
  .col.col--extend_2of12 {
    margin-right: 16.6666666667%; }
  .col.col--3of12 {
    width: 25%; }
  .col.col--push_3of12 {
    margin-left: 25%; }
  .col.col--extend_3of12 {
    margin-right: 25%; }
  .col.col--4of12 {
    width: 33.3333333333%; }
  .col.col--push_4of12 {
    margin-left: 33.3333333333%; }
  .col.col--extend_4of12 {
    margin-right: 33.3333333333%; }
  .col.col--5of12 {
    width: 41.6666666667%; }
  .col.col--push_5of12 {
    margin-left: 41.6666666667%; }
  .col.col--extend_5of12 {
    margin-right: 41.6666666667%; }
  .col.col--6of12 {
    width: 50%; }
  .col.col--push_6of12 {
    margin-left: 50%; }
  .col.col--extend_6of12 {
    margin-right: 50%; }
  .col.col--7of12 {
    width: 58.3333333333%; }
  .col.col--push_7of12 {
    margin-left: 58.3333333333%; }
  .col.col--extend_7of12 {
    margin-right: 58.3333333333%; }
  .col.col--8of12 {
    width: 66.6666666667%; }
  .col.col--push_8of12 {
    margin-left: 66.6666666667%; }
  .col.col--extend_8of12 {
    margin-right: 66.6666666667%; }
  .col.col--9of12 {
    width: 75%; }
  .col.col--push_9of12 {
    margin-left: 75%; }
  .col.col--extend_9of12 {
    margin-right: 75%; }
  .col.col--10of12 {
    width: 83.3333333333%; }
  .col.col--push_10of12 {
    margin-left: 83.3333333333%; }
  .col.col--extend_10of12 {
    margin-right: 83.3333333333%; }
  .col.col--11of12 {
    width: 91.6666666667%; }
  .col.col--push_11of12 {
    margin-left: 91.6666666667%; }
  .col.col--extend_11of12 {
    margin-right: 91.6666666667%; }
  .col.col--12of12 {
    width: 100%; }
  .col.col--push_12of12 {
    margin-left: 100%; }
  .col.col--extend_12of12 {
    margin-right: 100%; }
  @media all and (min-width:100rem) {
    .col.col--larger--1of12 {
      width: 8.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_1of12 {
      margin-left: 8.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_1of12 {
      margin-right: 8.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--2of12 {
      width: 16.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_2of12 {
      margin-left: 16.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_2of12 {
      margin-right: 16.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--3of12 {
      width: 25%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_3of12 {
      margin-left: 25%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_3of12 {
      margin-right: 25%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--4of12 {
      width: 33.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_4of12 {
      margin-left: 33.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_4of12 {
      margin-right: 33.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--5of12 {
      width: 41.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_5of12 {
      margin-left: 41.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_5of12 {
      margin-right: 41.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--6of12 {
      width: 50%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_6of12 {
      margin-left: 50%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_6of12 {
      margin-right: 50%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--7of12 {
      width: 58.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_7of12 {
      margin-left: 58.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_7of12 {
      margin-right: 58.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--8of12 {
      width: 66.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_8of12 {
      margin-left: 66.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_8of12 {
      margin-right: 66.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--9of12 {
      width: 75%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_9of12 {
      margin-left: 75%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_9of12 {
      margin-right: 75%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--10of12 {
      width: 83.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_10of12 {
      margin-left: 83.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_10of12 {
      margin-right: 83.3333333333%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--11of12 {
      width: 91.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_11of12 {
      margin-left: 91.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_11of12 {
      margin-right: 91.6666666667%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--12of12 {
      width: 100%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--push_12of12 {
      margin-left: 100%; } }
  @media all and (min-width:100rem) {
    .col.col--larger--extend_12of12 {
      margin-right: 100%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--1of12 {
      width: 8.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_1of12 {
      margin-left: 8.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_1of12 {
      margin-right: 8.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--2of12 {
      width: 16.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_2of12 {
      margin-left: 16.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_2of12 {
      margin-right: 16.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--3of12 {
      width: 25%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_3of12 {
      margin-left: 25%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_3of12 {
      margin-right: 25%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--4of12 {
      width: 33.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_4of12 {
      margin-left: 33.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_4of12 {
      margin-right: 33.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--5of12 {
      width: 41.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_5of12 {
      margin-left: 41.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_5of12 {
      margin-right: 41.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--6of12 {
      width: 50%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_6of12 {
      margin-left: 50%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_6of12 {
      margin-right: 50%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--7of12 {
      width: 58.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_7of12 {
      margin-left: 58.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_7of12 {
      margin-right: 58.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--8of12 {
      width: 66.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_8of12 {
      margin-left: 66.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_8of12 {
      margin-right: 66.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--9of12 {
      width: 75%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_9of12 {
      margin-left: 75%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_9of12 {
      margin-right: 75%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--10of12 {
      width: 83.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_10of12 {
      margin-left: 83.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_10of12 {
      margin-right: 83.3333333333%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--11of12 {
      width: 91.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_11of12 {
      margin-left: 91.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_11of12 {
      margin-right: 91.6666666667%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--12of12 {
      width: 100%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--push_12of12 {
      margin-left: 100%; } }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .col.col--medium--extend_12of12 {
      margin-right: 100%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--1of12 {
      width: 8.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_1of12 {
      margin-left: 8.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_1of12 {
      margin-right: 8.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--2of12 {
      width: 16.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_2of12 {
      margin-left: 16.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_2of12 {
      margin-right: 16.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--3of12 {
      width: 25%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_3of12 {
      margin-left: 25%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_3of12 {
      margin-right: 25%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--4of12 {
      width: 33.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_4of12 {
      margin-left: 33.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_4of12 {
      margin-right: 33.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--5of12 {
      width: 41.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_5of12 {
      margin-left: 41.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_5of12 {
      margin-right: 41.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--6of12 {
      width: 50%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_6of12 {
      margin-left: 50%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_6of12 {
      margin-right: 50%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--7of12 {
      width: 58.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_7of12 {
      margin-left: 58.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_7of12 {
      margin-right: 58.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--8of12 {
      width: 66.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_8of12 {
      margin-left: 66.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_8of12 {
      margin-right: 66.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--9of12 {
      width: 75%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_9of12 {
      margin-left: 75%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_9of12 {
      margin-right: 75%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--10of12 {
      width: 83.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_10of12 {
      margin-left: 83.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_10of12 {
      margin-right: 83.3333333333%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--11of12 {
      width: 91.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_11of12 {
      margin-left: 91.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_11of12 {
      margin-right: 91.6666666667%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--12of12 {
      width: 100%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--push_12of12 {
      margin-left: 100%; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .col.col--small--extend_12of12 {
      margin-right: 100%; } }

button, input[type="submit"], .button, .page a:only-child {
  -webkit-appearance: none;
  display: inline-block;
  width: auto;
  position: relative;
  padding: 1.0288rem 2.572rem;
  background: white;
  border: 1px solid transparent;
  border-radius: 0;
  color: #2B2B2B;
  font-family: "Karla", sans-serif;
  font-size: 1.286rem;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -ms-transition: background 0.333s, color 0.333s, border-color 0.333s;
  -webkit-transition: background 0.333s, color 0.333s, border-color 0.333s;
  transition: background 0.333s, color 0.333s, border-color 0.333s; }
  button:focus, button:hover, button.button--focused, input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"].button--focused, .button:focus, .page a:focus:only-child, .button:hover, .page a:hover:only-child, .button.button--focused, .page a.button--focused:only-child {
    color: white;
    background: #2B2B2B; }
  button:active, input[type="submit"]:active, .button:active, .page a:active:only-child {
    top: 0; }
  button:disabled, button.button--sold_out, input[type="submit"]:disabled, input[type="submit"].button--sold_out, .button:disabled, .page a:disabled:only-child, .button.button--sold_out, .page a.button--sold_out:only-child {
    opacity: 0.2;
    pointer-events: none; }
  button.button--sold_out, input[type="submit"].button--sold_out, .button.button--sold_out, .page a.button--sold_out:only-child {
    font-size: 0; }
    button.button--sold_out .button__arrow, input[type="submit"].button--sold_out .button__arrow, .button.button--sold_out .button__arrow, .page a.button--sold_out:only-child .button__arrow {
      display: none; }
    button.button--sold_out:before, input[type="submit"].button--sold_out:before, .button.button--sold_out:before, .page a.button--sold_out:only-child:before {
      content: "Sold Out";
      font-size: 1.286rem; }
  button.button--no_events, input[type="submit"].button--no_events, .button.button--no_events, .page a.button--no_events:only-child {
    pointer-events: none; }
  button.button--bordered, input[type="submit"].button--bordered, .button.button--bordered, .page a.button--bordered:only-child {
    background: white;
    border: 2px solid #2B2B2B; }
    button.button--bordered:focus, button.button--bordered:hover, input[type="submit"].button--bordered:focus, input[type="submit"].button--bordered:hover, .button.button--bordered:focus, .page a.button--bordered:focus:only-child, .button.button--bordered:hover, .page a.button--bordered:hover:only-child {
      background: #2B2B2B; }
  button.button--transparent, input[type="submit"].button--transparent, .button.button--transparent, .page a.button--transparent:only-child {
    color: white;
    background: transparent;
    border: 2px solid white; }
    button.button--transparent:focus, button.button--transparent:hover, button.button--transparent.button--focused, input[type="submit"].button--transparent:focus, input[type="submit"].button--transparent:hover, input[type="submit"].button--transparent.button--focused, .button.button--transparent:focus, .page a.button--transparent:focus:only-child, .button.button--transparent:hover, .page a.button--transparent:hover:only-child, .button.button--transparent.button--focused, .page a.button--transparent.button--focused:only-child {
      color: #2B2B2B;
      background: white; }
  button.button--dark, input[type="submit"].button--dark, .button.button--dark, .page a:only-child {
    color: white;
    background: #2B2B2B;
    border: 2px solid transparent; }
    button.button--dark:focus, button.button--dark:hover, button.button--dark.button--focused, input[type="submit"].button--dark:focus, input[type="submit"].button--dark:hover, input[type="submit"].button--dark.button--focused, .button.button--dark:focus, .page a:focus:only-child, .button.button--dark:hover, .page a:hover:only-child, .button.button--dark.button--focused, .page a.button--focused:only-child {
      color: #2B2B2B;
      background: white;
      border: 2px solid #2B2B2B; }
  button.button--full, input[type="submit"].button--full, .button.button--full, .page a.button--full:only-child {
    width: 100%;
    padding-right: 0;
    padding-left: 0; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    button.button--full_on_small, input[type="submit"].button--full_on_small, .button.button--full_on_small, .page a.button--full_on_small:only-child {
      width: 100%; } }

.button__arrow {
  font-size: 1.429rem;
  line-height: 0;
  vertical-align: middle;
  margin-left: 1rem; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }
  img.img--auto {
    width: auto;
    margin-left: auto;
    margin-right: auto; }
  img.img--logo, img.img--temp_logo {
    max-width: 14rem;
    margin-left: auto;
    margin-right: auto; }
  img.img--logo {
    max-width: 16rem; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      img.img--logo {
        max-width: 8rem; } }
  img.img--logo--small {
    max-width: 12rem; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      img.img--logo--small {
        max-width: 8rem; } }
  img.img--logo--smaller {
    max-width: 8rem; }

.container {
  position: relative;
  display: block; }

.container__image {
  position: relative;
  z-index: 1; }
  .container__image.container__image--front {
    position: absolute;
    top: 0;
    left: 0; }

.container__text {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0; }

.container__text--top_right {
  top: 0;
  right: 0; }

.container__text--bottom_left {
  bottom: 0;
  left: 0; }

.container__text--bottom_right {
  bottom: 0;
  right: 0; }

.container__text--center {
  top: 50%;
  width: 100%;
  text-align: center;
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #9B9B9B !important; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #9B9B9B !important; }

:focus {
  outline: none !important;
  -moz-outline-style: none; }

form {
  margin-bottom: 1.286rem; }

label.label--sort {
  display: inline-block;
  font-size: 1.143rem;
  vertical-align: middle; }
label.label--required:after {
  content: " *";
  color: #000000; }

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], input[type="file"], optgroup, select, textarea, .input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 1.286rem;
  background: white;
  padding: 0.8573333333rem 1.286rem;
  border: 1px solid transparent;
  border-radius: 0;
  -ms-transition: border-color 0.333s;
  -webkit-transition: border-color 0.333s;
  transition: border-color 0.333s; }
  input[type="text"].input--big, input[type="password"].input--big, input[type="url"].input--big, input[type="email"].input--big, input[type="tel"].input--big, input[type="number"].input--big, input[type="search"].input--big, input[type="file"].input--big, optgroup.input--big, select.input--big, textarea.input--big, .input.input--big {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.286rem;
    padding: 0.8573333333rem 1.286rem 0.9185714286rem;
    border: 2px solid white; }
  input[type="text"].input--transparent, input[type="password"].input--transparent, input[type="url"].input--transparent, input[type="email"].input--transparent, input[type="tel"].input--transparent, input[type="number"].input--transparent, input[type="search"].input--transparent, input[type="file"].input--transparent, optgroup.input--transparent, select.input--transparent, textarea.input--transparent, .input.input--transparent {
    color: white;
    background: transparent;
    border: 2px solid white; }

textarea {
  height: 7.716rem; }

.select_container {
  display: inline-block;
  position: relative;
  z-index: 4; }
  @media all and (min-device-width:40rem), all and (min-width:40rem) {
    .select_container {
      height: 3.95rem;
      vertical-align: middle; }
      .select_container:hover {
        height: 3.9rem; } }

select {
  cursor: pointer; }
  select.select--sort, select.select--tag {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    height: 3.95rem;
    overflow-y: hidden;
    margin-bottom: 0;
    margin-left: 1.286rem;
    font-size: 1.143rem;
    font-weight: bold;
    color: white;
    border: 0;
    border-left: 1px solid #9B9B9B;
    border-right: 1px solid #9B9B9B;
    padding: 0;
    background: transparent;
    -ms-transition: border-color 0.333s, background 0.333s, color 0.333s, box-shadow 0.333s, -webkit-box-shadow 0.333s;
    -webkit-transition: border-color 0.333s, background 0.333s, color 0.333s, box-shadow 0.333s, -webkit-box-shadow 0.333s;
    transition: border-color 0.333s, background 0.333s, color 0.333s, box-shadow 0.333s, -webkit-box-shadow 0.333s; }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      select.select--sort, select.select--tag {
        padding: 1.286rem 2.572rem; } }
    @media all and (min-device-width:40rem), all and (min-width:40rem) {
      select.select--sort option, select.select--tag option {
        padding: 1.286rem 2.572rem;
        font-size: 1.143rem;
        font-weight: bold;
        color: white; }
      select.select--sort:hover, select.select--sort:focus, select.select--tag:hover, select.select--tag:focus {
        height: auto;
        border-bottom: 1px solid #9B9B9B; }
        select.select--sort:hover option, select.select--sort:focus option, select.select--tag:hover option, select.select--tag:focus option {
          color: #2B2B2B;
          background: white; }
          select.select--sort:hover option:hover, select.select--sort:focus option:hover, select.select--tag:hover option:hover, select.select--tag:focus option:hover {
            color: #000000;
            background: #E5E5E5; } }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      select.select--sort, select.select--tag {
        width: 100% !important;
        margin-left: 0; } }
  select.select--tag {
    border: none;
    margin-left: 0;
    margin-right: -0.25rem; }
    select.select--tag option {
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase; }
    select.select--tag:hover, select.select--tag:focus {
      border-bottom: none; }
      select.select--tag:hover option, select.select--tag:focus option {
        color: #4A4A4A;
        background: #E5E5E5; }
        select.select--tag:hover option:hover, select.select--tag:focus option:hover {
          color: #2B2B2B;
          text-decoration: underline; }

input[type="file"] {
  display: block;
  font-size: 0.9rem; }

input[type="radio"] + label, input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  display: inline-block; }
  input[type="radio"] + label:active, input[type="checkbox"] + label:active {
    top: 1px; }
input[type="radio"].checkbox--styled, input[type="checkbox"].checkbox--styled {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4286666667rem;
  border: 2px solid #9B9B9B;
  -ms-transition: background-color 0.333s, border-color 0.333s;
  -webkit-transition: background-color 0.333s, border-color 0.333s;
  transition: background-color 0.333s, border-color 0.333s; }
  input[type="radio"].checkbox--styled:checked, input[type="checkbox"].checkbox--styled:checked {
    background-color: #4A4A4A;
    border-color: #000000; }
    input[type="radio"].checkbox--styled:checked + label, input[type="checkbox"].checkbox--styled:checked + label {
      color: #2B2B2B; }
input[type="radio"].radio--variant, input[type="checkbox"].radio--variant {
  display: none; }
  input[type="radio"].radio--variant + label, input[type="checkbox"].radio--variant + label {
    cursor: pointer;
    display: inline-block;
    width: 1.286rem;
    height: 1.286rem;
    margin: 0.643rem 0.1286rem 0;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #F2F1F0;
    background-size: cover;
    opacity: 0.7;
    -ms-transition: background-color 0.333s, border-color 0.333s, opacity 0.333s;
    -webkit-transition: background-color 0.333s, border-color 0.333s, opacity 0.333s;
    transition: background-color 0.333s, border-color 0.333s, opacity 0.333s; }
  input[type="radio"].radio--variant:checked + label, input[type="checkbox"].radio--variant:checked + label {
    opacity: 1; }
  input[type="radio"].radio--variant:disabled + label, input[type="checkbox"].radio--variant:disabled + label {
    opacity: 0.3; }
  input[type="radio"].radio--variant.radio--variant--bordered + label, input[type="checkbox"].radio--variant.radio--variant--bordered + label {
    border-color: #9B9B9B; }
  input[type="radio"].radio--variant.radio--variant--big + label, input[type="checkbox"].radio--variant.radio--variant--big + label {
    width: 1.857rem;
    height: 1.857rem;
    margin: 0.643rem 0.3215rem 0; }
input[type="radio"].radio--underline, input[type="checkbox"].radio--underline {
  display: none; }
  input[type="radio"].radio--underline + label, input[type="checkbox"].radio--underline + label {
    color: #9B9B9B;
    font-weight: bold;
    margin: 0.643rem 0.1286rem; }
  input[type="radio"].radio--underline:checked + label, input[type="checkbox"].radio--underline:checked + label {
    color: #2B2B2B;
    border-bottom: 2px solid #2B2B2B; }

.error {
  padding: 0.4286666667rem;
  margin: 1.286rem 0;
  color: #DD453E;
  border: 1px solid #DD453E; }
  .error:empty {
    display: none; }

.parsley-error, .error {
  border-color: #DD453E !important; }

.parsley-errors-list, .errors ul {
  list-style: none;
  padding: 0;
  color: #DD453E; }
  .parsley-errors-list:empty, .errors ul:empty {
    display: none; }

.header__logo {
  max-width: 11rem; }
  .header__logo.header__logo--ctr {
    max-width: 7rem; }

.header__description em {
  font-size: 1.429rem;
  font-style: normal;
  display: block;
  margin-top: -1.286rem; }

.footer__icon {
  font-size: 1.125rem; }
  .footer__icon + .footer__icon {
    margin-left: 1.286rem; }

.nav__button {
  color: #4A4A4A;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.429rem;
  letter-spacing: 0;
  margin-right: -0.25rem;
  padding: 1.929rem 2.572rem;
  background: transparent; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .nav__button {
      font-size: 1.286rem;
      padding: 1.286rem 0.4286666667rem; } }
  .nav__button.nav__button--search {
    line-height: 0; }
    .nav__button.nav__button--search i {
      font-size: 1.429rem; }

.nav__container {
  opacity: 0;
  visibility: hidden;
  max-height: 90%;
  overflow-y: auto;
  -ms-transition: opacity 0.333s, visibility 0s linear 0.333s;
  -webkit-transition: opacity 0.333s, visibility 0s linear 0.333s;
  transition: opacity 0.333s, visibility 0s linear 0.333s; }
  .nav__container.nav__container--active {
    opacity: 1;
    visibility: visible;
    -ms-transition: opacity 0.333s, visibility 0s;
    -webkit-transition: opacity 0.333s, visibility 0s;
    transition: opacity 0.333s, visibility 0s; }

.nav__list {
  color: #9B9B9B;
  font-size: 1.286rem;
  line-height: 1.444;
  list-style-type: none;
  padding-left: 0; }
  .nav__list.nav__list--small {
    font-size: 1.143rem;
    line-height: 1.188; }
    .nav__list.nav__list--small strong {
      font-size: 1.286rem; }
  .nav__list li:first-child {
    margin-bottom: 1.286rem; }
  .nav__list a:hover, .nav__list a:focus {
    color: white;
    text-decoration: underline; }

.breadcrumbs {
  z-index: 0;
  position: absolute;
  top: 14.789rem;
  left: 0;
  padding: 1.286rem;
  -ms-transform: translate(-100%) rotate(-90deg);
  -webkit-transform: translate(-100%) rotate(-90deg);
  transform: translate(-100%) rotate(-90deg);
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right; }
  .black_back .breadcrumbs, .blue_back .breadcrumbs, .dark_black_back .breadcrumbs {
    color: white; }
  .breadcrumbs.breadcrumbs--fixed {
    position: fixed;
    top: 5.144rem !important; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .breadcrumbs {
      padding: 0.643rem 1.286rem; } }

.breadcrumb {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.286rem;
  letter-spacing: 1px; }

.breadcrumb__arrow {
  font-size: 1.5rem;
  margin: 0 0.8573333333rem; }
  .breadcrumb__arrow:nth-of-type(1) {
    display: none; }

.on_top_of_breadcrumbs {
  position: relative;
  z-index: 4; }

.currencies {
  display: inline-block;
  width: auto;
  z-index: 7;
  left: auto;
  right: 14.146rem;
  top: auto;
  bottom: 0;
  background: #4A4A4A; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .currencies {
      right: 11.574rem; } }

.currency {
  display: inline-block;
  cursor: pointer;
  color: #9B9B9B;
  font-size: 0.857rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.3215rem 0.643rem; }
  .currency.selected {
    color: white; }

.modal {
  background-color: rgba(43, 43, 43, 0.8);
  -ms-transition: background-color 0.666s, visibility 0s;
  -webkit-transition: background-color 0.666s, visibility 0s;
  transition: background-color 0.666s, visibility 0s; }
  .modal.modal--hide {
    visibility: hidden;
    background-color: rgba(43, 43, 43, 0);
    -ms-transition: background-color 0.666s, visibility 0s linear 0.666s;
    -webkit-transition: background-color 0.666s, visibility 0s linear 0.666s;
    transition: background-color 0.666s, visibility 0s linear 0.666s; }
  .modal.modal--light {
    background-color: rgba(255, 255, 255, 0.8); }
    .modal.modal--light.modal--hide {
      background-color: rgba(255, 255, 255, 0); }

.modal__box {
  width: 100%;
  max-width: 23.148rem;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  position: relative;
  z-index: 10;
  -ms-transition: opacity 0.666s;
  -webkit-transition: opacity 0.666s;
  transition: opacity 0.666s; }
  .modal__box.modal__box--big {
    max-width: 51.44rem; }
  .modal--hide .modal__box {
    opacity: 0; }

.modal__back {
  z-index: 9; }

.index_only {
  display: none; }

.index .hide_for_index, .template-index .hide_for_index, #this-is-ctr .hide_for_index {
  display: none; }
.index .index_only, .template-index .index_only, #this-is-ctr .index_only {
  display: inline-block; }

#this-is-ctr {
  border: none; }
  #this-is-ctr .hide_for_ctr {
    display: none; }

.index__logo {
  max-width: 8rem;
  margin-right: auto;
  margin-left: auto; }

.index__box {
  width: 50%;
  padding: 20.576rem 2.572rem; }
  .index__box:nth-child(3n+1) {
    width: 100%; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .index__box {
      padding: 12.86rem 2.572rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .index__box {
      padding: 5.144rem 1.286rem;
      width: 100% !important; } }

.main {
  overflow-x: hidden;
  min-height: 12.86rem; }

.collection__description em {
  display: none; }

.product__image {
  position: relative; }
  .product__image .container__text {
    opacity: 0;
    -ms-transition: opacity 0.333s;
    -webkit-transition: opacity 0.333s;
    transition: opacity 0.333s; }
  .product__image:hover .product__white, .product__image:focus .product__white {
    background: rgba(255, 255, 255, 0.5); }
  .product__image:hover .container__text, .product__image:focus .container__text {
    opacity: 1; }

.product__white {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  -ms-transition: background 0.333s;
  -webkit-transition: background 0.333s;
  transition: background 0.333s; }

.product__bordered {
  border-right: 1px solid #9B9B9B;
  height: 5rem;
  overflow: visible; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .product__bordered {
      border: none; } }

.product__description {
  color: #9B9B9B; }
  .product__description strong, .product__description b {
    font-size: 1.143rem;
    color: #2B2B2B; }

.cart {
  z-index: 9;
  width: 100%;
  top: auto;
  bottom: -29.571rem;
  padding-top: 0;
  padding-bottom: 0;
  -ms-transition: bottom 0.333s;
  -webkit-transition: bottom 0.333s;
  transition: bottom 0.333s; }
  .cart.cart--opened {
    bottom: 0; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .cart {
      bottom: -27.571rem; } }

.cart__button {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: #E5E5E5;
  padding: 0.643rem 1.286rem;
  margin-right: 3.858rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }
  .cart__button:active {
    top: auto; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .cart__button {
      margin-right: 1.286rem; } }

.cart__icon {
  font-size: 1.143rem;
  margin: 0 0.429rem;
  vertical-align: text-bottom; }

.cart__arrow {
  display: inline-block;
  font-size: 0.786rem;
  margin-left: 1rem;
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s; }
  .cart--opened .cart__arrow {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.cart__container {
  border: 0.5rem solid #E5E5E5;
  padding: 1.286rem;
  background: white; }

.cart__items {
  height: 26rem;
  overflow-y: auto; }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .cart__items {
      height: 16rem;
      margin-bottom: 0.643rem; } }

.cart__item {
  padding-right: 1.286rem;
  border-right: 2px solid #E5E5E5; }

.cart__item__quantity {
  display: inline-block;
  font-size: 1.286rem;
  font-weight: bold;
  text-align: center;
  width: 2.5rem;
  line-height: 2.5rem;
  color: white;
  background: black;
  border-radius: 50%; }

.cart__item__increment {
  display: inline-block;
  font-size: 1.286rem; }

.page {
  font-size: 1.143rem; }
  .page h2 {
    font-size: 2.286rem;
    margin-bottom: 2.572rem; }
  .page h6 {
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-style: italic;
    margin: -1.929rem 0 2.572rem; }
  .page strong {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px; }
  .page img {
    width: 140%;
    max-width: 140%;
    margin: 3.858rem -20%; }
    @media all and (max-device-width:70rem), all and (max-width:70rem) {
      .page img {
        width: 120%;
        max-width: 120%;
        margin: 3.858rem -10%; } }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      .page img {
        width: 100%;
        max-width: 100%;
        margin: 3.858rem 0; } }
  .page a:only-child {
    margin: 2.572rem 0; }
  .page table {
    width: 200%;
    max-width: 200%;
    margin: 2.572rem -50%; }
    .page table td {
      width: 50%; }
    .page table img {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0 0 2.572rem !important; }
    .page table p {
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
    @media all and (max-device-width:70rem), all and (max-width:70rem) {
      .page table {
        width: 150%;
        max-width: 150%;
        margin: 2.572rem -25%; } }
    @media all and (max-device-width:40rem), all and (max-width:40rem) {
      .page table {
        width: 100%;
        max-width: 100%;
        margin: 2.572rem 0; }
        .page table td {
          display: block;
          width: 100%; } }
  .page.page--about {
    font-size: 1.286rem; }

.page--ctr h2 {
  color: white;
  font-size: 4.286rem;
  font-weight: bold;
  margin-bottom: 0; }
  @media all and (max-device-width:70rem), all and (max-width:70rem) {
    .page--ctr h2 {
      font-size: 3rem; } }
  @media all and (max-device-width:40rem), all and (max-width:40rem) {
    .page--ctr h2 {
      font-size: 2rem; } }
.page--ctr .padded--very_thick {
  padding-left: 2.572rem;
  padding-right: 2.572rem; }
