

{% include 'breadcrumb' %}




<div class="padded--medium_top">


  {% if collection.image != blank %}
  <div class="padded--extremely_thick header_back on_top_of_breadcrumbs" style="background-image: url({{ collection.image | img_url: '1024x1024' }})">
    
    <h1 class="text_center header__description">{{ collection.description }}</h1>
    
  </div>
  {% else %}

  {% endif %}
  


  <div class="padded--very_thick padded--flat_top padded--flat_bottom black_back text_right text_center_on_small on_top_of_breadcrumbs js-sort">
    <label for="sort" class="label--sort white hide_on_small">Sort by:</label>

    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    <div class="select_container">
      <select name="sort" class="select--sort js-stretch" size="8">
        <option value="manual" {% if sort_by == "manual" %}selected{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling" {% if sort_by == "best-selling" %}selected{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending" {% if sort_by == "title-ascending" %}selected{% endif %}>{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending" {% if sort_by == "title-descending" %}selected{% endif %}>{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending" {% if sort_by == "price-ascending" %}selected{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending" {% if sort_by == "price-descending" %}selected{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending" {% if sort_by == "created-descending" %}selected{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending" {% if sort_by == "created-ascending" %}selected{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
    </div>
  </div>



  {% paginate collection.products by 21 %}



  <div class="padded--very_thick padded--medium_top js-products">
    <div class="grid grid--no_gutter js-products_container js-breadcrumbs_snap {% if paginate.next %}big_bottom{% endif %}">
      {% for product in collection.products %}


        {% include 'products_product' %}


      {% endfor %}
    </div>

    {% if paginate.next %} <div class="text_center"><a href="{{ paginate.next.url }}" class="button button--bordered js-next">Load More Products</a></div> {% endif %}

  </div>

  {% include 'related_collections' %}


  {% endpaginate %}

    
</div>





