



  <div class="padded--medium_top">


    {% unless current_tags %}
    {% if collection.image != blank %}
    <div class="padded--extremely_thick header_back" style="background-image: url({{ collection.image | img_url: '1024x1024' }})">
      <div class="grid grid--center">
        <div class="col col--6of12 col--medium--8of12 col--medium--12of12">
          <img src="{{ 'ctr_logo_white.png' | asset_url }}" alt="{{ collection.title }}" class="img--auto img--logo big_bottom">

          <h3 class="h3--bold text_center">{{ collection.description }}</h3>    
        </div>
      </div>
      
      
    </div>
    {% endif %}
    {% endunless %}
    


    <div class="padded--very_thick padded--flat_top padded--flat_bottom dark_black_back js-sort">
      <div class="grid grid--middle">
        <div class="col col--3of12">
          <h6 class="h6--bold dark_grey">Shop By</h6>
        </div>

        <div class="col col--6of12 text_center">
          <div class="select_container">
            <select name="type" class="select--tag js-stretch" size="{{ linklists['ctr-categories'].links.size }}">
              <option value="/collections/ctr/{{ current_tags | join: '+' }}">Category</option>

              {% for link in linklists['ctr-categories'].links %}
              <option value="{{ link.url }}" {% if collection.url == link.url %}selected{% endif %}>{{ link.title }}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="select_container">
            <select name="tag" class="select--tag js-stretch" size="{{ linklists['ctr-collections'].links.size }}">
              <option value="{{ collection.url }}">Collection</option>

              {% for link in linklists['ctr-collections'].links %}
              <option value="{{ collection.url }}/{{ link.title }}" {% if current_tags contains link.title %}selected{% endif %}>{{ link.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col col--3of12"></div>
      </div>

          
      
    </div>



    {% paginate collection.products by 50 %}



    <div class="padded--very_thick text_center js-products black_back">
      <div class="inline_block white_back">
        <div class="grid grid--no_gutter js-products_container {% if paginate.next %}big_bottom{% endif %}">
          {% for product in collection.products %}


            {% include 'products_product' %}


          {% endfor %}
        </div>
      </div>

      {% if paginate.next %} <a href="{{ paginate.next.url }}" class="button button--bordered hide js-next">Load More</a> {% endif %}

    </div>


    {% endpaginate %}



    <div class="padded--very_thick header_back" style="background-image: url({{ 'ctr_link_photo.jpg' | asset_url }})">
      
      <div class="padded--thick text_center">
        <a href="/collections/this-is-ctr" class="button">Visit CTR site <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></a>
      </div>
      
    </div>

      
  </div>



