

{% comment %}
<div class="padded--extremely_thick header_back" style="background-image: url({{ 'temp.jpg' | asset_url }})">
    
    <div class="text_center">
    	<img src="{{ 'temp_logo.png' | asset_url }}" class="img--logo bigass_bottom">
    	<h5>New Chaos & CTR Sites Coming Soon</h5>
    	<a href="mailto:web@chaoshats.com" target="_blank" class="button button--transparent">Contact us with any requests</a>
    </div>

</div>
{% endcomment %}


<div class="padded--medium_top text_center">
	<div class="grid grid--no_gutter index__boxes--{{ linklists['main-menu'].links.size }}">
	{% for link in linklists['main-menu'].links %}
		{% if link.object.image %}
			{% assign: image = link.object.image | img_url: '1024x1024'  %}
		{% else %}
			{% assign: image = link.object.handle | append: '.jpg' | file_url  %}
		{% endif %}
		
		<div class="col index__box header_back" {% if image %}style="background-image: url({{ image }})"{% endif %}>
			<h1 class="big_bottom">{% if link.type == 'collection_link' %}{{ link.object.description }}{% else %}{{ link.object.title }}{% endif %}</h1>
			<a href="{{ link.url }}" class="button">{{ link.title }} <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></a>
		</div>
	{% endfor %}
	</div>
</div>
