

{% assign: image = page.handle | append: '.jpg' | file_url  %}
<div class="padded--extremely_thick header_back" {%if image %}style="background-image: url('{{ image }}');"{% endif %} >
  
  <img src="{{ 'ctr_logo_white.png' | asset_url }}" class="img--logo img--logo--small">
  
</div>


<div class="padded--very_thick dark_black_back">
	<div class="page--ctr">
	  <div class="text_center bigass_bottom">{{ page.content }}</div>

	  <h1 class="h1--small text_center white">This is CTR</h1>
	</div>
</div>


<div class="padded--extremely_thick header_back" style="background-image: url('{{ 'ctr_1_back.jpg' | asset_url }}');">
  <div class="grid grid--center">
  	<div class="col col--4of12 col--medium--7of12 col--small--12of12">
  		<h2 class="h2--small text_center">{{ settings.ctr_1_text }}</h2>
  	</div>
  </div>
</div>


<div class="padded--extremely_thick header_back" style="background-image: url('{{ 'ctr_2_back.jpg' | asset_url }}');">
  <div class="grid grid--center">
  	<div class="col col--4of12 col--medium--7of12 col--small--12of12">
  		<h2 class="h2--small text_center">{{ settings.ctr_2_text }}</h2>
  	</div>
  </div>
</div>


<div class="padded--extremely_thick header_back" style="background-image: url('{{ 'ctr_3_back.jpg' | asset_url }}');">
  <div class="grid grid--center">
  	<div class="col col--4of12 col--medium--7of12 col--small--12of12">
  		<h2 class="h2--small text_center">{{ settings.ctr_3_text }}</h2>
  	</div>
  </div>
</div>


<div class="padded--extremely_thick header_back" style="background-image: url('{{ 'ctr_4_back.jpg' | asset_url }}');">
	<div class="page--ctr">
		<div class="grid grid--center">
  			<div class="col col--6of12 col--medium--7of12 col--small--12of12">
	  			<div class="text_center"><h2>{{ settings.ctr_4_text }}</h2></div>
	  		</div>
	  	</div>
	</div>
</div>


<footer class="padded--extremely_thick header_back" style="background-image: url('{{ 'ctr_footer_back.jpg' | asset_url }}');">

	<div class="grid grid--center black">

		<div class="col col--6of12 col--medium--8of12 col--small--12of12 bigass_bottom">
			<h1 class="h1--small text_center bigass_bottom">Let's keep in touch</h1>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//ChaosHats.us11.list-manage.com/subscribe/post?u=e6c923de1d279a82099a4dd90&amp;id={{ settings.newsletter_form_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid grid--no_gutter grid--center" target="_blank" novalidate>

					<div class="col col--9of12 col--medium--8of12 col--small--12of12 normal_bottom">
						<div id="mc_embed_signup_scroll">

						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email to receive our newsletter">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_e6c923de1d279a82099a4dd90_de13555b5f" tabindex="-1" value=""></div>
						</div>
					</div>

					<div class="col col--3of12 col--medium--4of12 col--small--12of12">
						<div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button--full button--bordered">Subscribe</button></div>
					</div>
				</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>
  
 </footer>


<footer class="padded--very_thick padded--small_top black_back">

	<div class="white text_center">
		<h3>Contact</h3>

		<p class="p--big">
			<strong>Press</strong><br>
			<a href="mailto:pr@ctr.com">pr@ctr.com</a>
		</p>

		<p class="p--big big_bottom">
			<strong>Infos</strong><br>
			<a href="mailto:info@ctr.com">info@ctr.com</a><br>
			<a href="tel:514 555-5656">514 555-5656</a>
		</p>


		<p class="p--big big_bottom">
			{% for link in linklists['footer-social'].links %}
			<a href="{{ link.url }}" target="_blank" class="a--underline">{{ link.title }}</a>
			{% endfor %}
		</p>


		<p class="p--big">
			CTR is a Chaos Hats brand. Visit us at <a href="/" class="a--underline">Chaoshats.com</a>
		</p>

	</div>
  
</footer>