
<div class="padded--medium_top">
	<div class="padded--very_thick">
		<div class="grid grid--center">

			<div class="col col--7of12 col--medium--9of12 col--small--12of12 page">
				<h1 class="h1--small big_bottom">{{ page.title }}</h1>

				<p>{{ page.content }}</p>
			</div>

		</div>
	</div>
</div>