
<div class="padded--medium_top">
  {% assign: image = page.handle | append: '.jpg' | file_url  %}
  <div class="padded--extremely_thick header_back" {%if image %}style="background-image: url('{{ image }}');"{% endif %} >
    
    <h1 class="text_center">{{ page.title }}</h1>
    
  </div>


  <div class="padded--thick padded--big_top">
    <div class="grid grid--center">

      <div class="col col--6of12 col--medium--8of12 col--small--12of12 page page--about">
        <div class="text_center">{{ page.content }}</div>
      </div>

    </div>
  </div>
</div>