

{% include 'breadcrumb' %}




{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


{% assign current_variant = product.selected_or_first_available_variant %}



<div class="padded--thick padded--big_top">
  <div class="grid grid--tight grid--center js-product js-breadcrumbs_snap">
    <div class="col col--7of12 col--larger--6of12 col--small--12of12">
      
      <div class="padded--right">
        <div class="container medium_bottom">
          <img src="https://placehold.it/1024x1024/E5E5E5/FFFFFF/&text=⋯" class="container__image">
          {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" class="container__image container__image--front js-image">
        </div>


        {% assign variant_images = "" %}
        {% for variant in product.variants %}
        {% assign variant_images = variant_images | append: variant.image.src | append:',' %}
        {% endfor %}

        {% assign variant_images = variant_images | split:',' %}

        <div class="grid hide_for_small">
        {% for image in product.images %}
          
          {% unless variant_images contains image.src %}
          <div class="col col--4of12 col--medium--6of12">
            <a href="#" class="js-extra_image" data-url="{{ image.src | product_img_url: '1024x1024' }}"><img src="{{ image.src | product_img_url: 'medium' }}"></a>
          </div>
          {% endunless %}
          
        {% endfor %}
        </div>
      </div>


    </div>

    <div class="col col--5of12 col--larger--4of12 col--small--12of12">
  
      <div class="grid grid--bottom small_bottom">
        <div class="col col--8of12">
          <h1 class="h1--smallish">{{ product.title }}</h1>
        </div>

        <div class="col col--4of12 text_right">
          <h3 class="h3--small {% if product.type == 'Gift Card' %}hide{% endif %}">
          {% if sold_out %}
            <strong class="red">{{ 'products.product.sold_out' | t }}</strong>

          {% else %}

          {% if on_sale %}
            <s>{{ product.compare_at_price | money_with_currency }}</s>
            {{ product.price | money_with_currency }}
          {% else %}
            {{ product.price | money_with_currency }}
          {% endif %}
          
          {% endif %}
          </h3>
        </div>
      </div>

      <hr>

      <div class="grid">

        <div class="col col--12of12 tiny_bottom">
          {% assign first_variant = product.variants[0].sku | split: '-' %}
          <h6 class="h6--small">NO. {{ first_variant[0] }}</h6>
        </div>

        {% for tag in product.tags %}
        {% assign split_tag = tag | split: '-' %}
        {% if split_tag[0] == 'composition' %}
        {% assign composition = split_tag[1] | split: ':' %}
        <div class="tiny_bottom bottom--except_last">
          <div class="col col--4of12 col--medium--5of12">
            <h6 class="h6--small ">{{ composition[0] }}</h6>
          </div>
          <div class="col col--8of12 col--medium--7of12">
            <span class="darker_grey">{{ composition[1] | trim }}</span>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
      
      <hr>
        

      <form action="/cart/add" method="post" enctype="multipart/form-data" class="js-add_to_cart">
        <div class="grid grid--middle">
          
          {% if product.type == 'Gift Card' %}
          <div class="col col--4of12 col--medium--5of12">
            <h6 class="h6--bold flat_bottom">Select Amount</h6>
          </div>

          <div class="col col--8of12 col--medium--7of12">
            {% assign current_variant = product.selected_or_first_available_variant %}

            {% for variant in product.variants %}
            <input type="radio" name="id" class="radio--underline" {% unless variant.available %}disabled{% endunless %} {% if variant == current_variant %}checked{% endif %} value="{{ variant.id }}" id="amount_{{ variant.id }}">
            <label for="amount_{{ variant.id }}">{{ variant.option1 }}</label>
            {% endfor %}
          </div>
          

          {% else %}
          <div class="col col--4of12 col--medium--5of12">
            <h6 class="h6--bold flat_bottom">Select Color</h6>
          </div>

          <div class="col col--8of12 col--medium--7of12">
            {% assign current_variant = product.selected_or_first_available_variant %}
            {% assign current_variant_color = current_variant.option1 %}
            {% assign current_variant_size = current_variant.option2 %}

            {% for variant in product.variants %}
            {% if current_variant_size == variant.option2 %}
            <input type="radio" name="color" class="radio--variant" {% if variant.option1 == current_variant_color %}checked{% endif %} value="{{ variant.option1 }}" id="color_{{ variant.id }}" data-img="{{ variant.image.src | img_url: 'large' }}" data-color="{{ variant.option1 }}">
            <label for="color_{{ variant.id }}" title="{{ variant.option1 }}"></label>
            {% endif %}
            {% endfor %}
          </div>  
          {% endif %}

        </div>

        <hr>

        {% if current_variant_size %}
        <div class="grid grid--middle">
          <div class="col col--4of12 col--medium--5of12">
            <h6 class="h6--bold flat_bottom">Select Size</h6>
          </div>
          
          
          <div class="col col--8of12 col--medium--7of12">

            {% for variant in product.variants %}
            {% if current_variant_color == variant.option1 %}
            <input type="radio" name="size" class="radio--underline" {% unless variant.available %}disabled{% endunless %} {% if variant.option2 == current_variant_size %}checked{% endif %} value="{{ variant.option2 }}" id="size_{{ variant.id }}" data-size="{{ variant.option2 }}">
            <label for="size_{{ variant.id }}">{{ variant.option2 }}</label>
            {% endif %}
            {% endfor %}

          </div>

        </div>

        <hr>

        {% endif %}


        {% if product.description != '' %}
        <h6 class="darker_grey">{{ product.description }}</h6>

        <hr>
        {% endif %}


        {% unless product.type == 'Gift Card' %}
        {% for variant in product.variants %}
        <input type="hidden" name="id" {% unless variant.available %}disabled{% endunless %} {% if variant == current_variant %}checked="checked"{% endif %} value="{{ variant.id }}" data-color="{{ variant.option1 }}" data-size="{{ variant.option2 }}">
        {% endfor %}
        {% endunless %}

        <button type="submit" name="add" class="button--dark js-add_to_cart_button {% unless current_variant.available %}button--sold_out{% endunless %} {% if sold_out %}button--sold_out{% endif %}">{{ 'products.product.add_to_cart' | t }} <span class="button__arrow"><i class="fa fa-long-arrow-right"></i></span></button>


      
      </form>

    

      

    </div>
  </div>

  {% include 'related_products' %}
</div>



