


<nav class="breadcrumbs js-breadcrumbs hide_on_small" role="navigation">

  
  <span class="breadcrumb__arrow"><i class="fa fa-long-arrow-right"></i></span> <span class="breadcrumb">Search results for "{{ search.terms }}"</span>

</nav>


{% paginate search.results by 50 %}

  {% if search.performed %}
<div class="padded--medium_top">
  <div class="padded--very_thick padded--flat_top padded--flat_bottom black_back text_right text_center_on_small on_top_of_breadcrumbs">

    <select name="sort" class="select--sort invisible">
    </select>
  </div>

  <div class="padded--very_thick padded--medium_top js-products">
    {% if search.results_count > 0 %}
    <div class="grid grid--no_gutter js-products_container js-breadcrumbs_snap {% if paginate.next %}big_bottom{% endif %}">
      {% for item in search.results %}

        {% assign product = item %}
        {% include 'products_product' %}


      {% endfor %}
    </div>

    {% if paginate.next %} <a href="{{ paginate.next.url }}" class="button button--bordered hide js-next">Load More</a> {% endif %}

    {% else %}
    
    <h3 class="text_center">No results found.</h3>

    <div class="big_bottom text_center"><a href="#" class="button button--bordered js-search_button">Search again</a></div>

    {% endif %}
  </div>
  {% endif %}

</div>
{% endpaginate %}

