

$grey: #E5E5E5;
$grey--light: #F2F1F0;
$grey--dark: #9B9B9B;
$grey--darker: #717171;
$red: #DD453E;
$red--light: #E0534C;

$green: #2D4A1A;
$yellow: #ed970f;
$blue: #132B3A;
$blue--light: #94A4A8;
$beige: #EAEAD8;

$black: #2B2B2B;
$black--light: #4A4A4A;
$black--dark: #000000;

$primary: $black;
$secondary: $green;
$highlight: $black--dark;

$shadow: hsla(0, 0%, 0%, 0.5);



$base_size: 14px;
$line_height: 1.286;
$vertical_rythm: 1.286rem;
$letter_spacing: 1px;
$border_radius: 0;

$number_of_columns: 12;
$gutter: 1.286rem;



$body_font: "Karla", sans-serif;
$headings_font: "Roboto Condensed", sans-serif;

$small: "all and (max-device-width:40rem), all and (max-width:40rem)";
$bigger_than_small: "all and (min-device-width:40rem), all and (min-width:40rem)";
$medium: "all and (max-device-width:70rem), all and (max-width:70rem)";
$larger: "all and (min-width:100rem)";
$breakpoints: "larger" $larger, "medium" $medium, "small" $small;


$fast: 0.333s;
$slow: 0.666s;



