
@mixin transform($transform...) {
	-ms-transform: $transform;
	-webkit-transform: $transform;
	transform: $transform;
}

@mixin transform-origin($origin...) {
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin transition($transition...) {
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin transformer($duration: 0.6s) {
	transition: transform $duration;
	-webkit-transition: -webkit-transform $duration;
}

@mixin shadow($shadow) {
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}


.primary { color: $primary; }
.highlight { 
	font-weight: normal;
	background: $grey;
}
.secondary { color: $secondary; }
.white { color: white; }
.black { color: $black; }
.dark_black { color: $black--dark; }
.dark_grey { color: $grey--dark; }
.darker_grey { color: $grey--darker; }
.light_grey { color: $grey--light; }
.grey { color: $grey; }
.green { color: $green; }
.red { color: $red; }
.yellow { color: $yellow; }

.light_grey_back { background: $grey--light; }
.grey_back { 
	color: $primary;
	background: $grey;
}
.white_back { background: white; }
.beige_back { background: $beige; }
.faded_white_back { background: fade-out(white, 0.2); }
.shadow_back { background: $shadow; }
.with_shadow { @include shadow(0 0 20px rgba(0,0,0,0.1)); }
.header_back {
	color: white;
	background-color: $black--light;
	background-size: cover;
	background-position: center;
}

.black_back { 
	// color: white;
	background: $black;

	hr {
		border-color: white;
	}
}
	.blue_back {
		@extend .black_back;
		background: $blue;
	}

	.dark_black_back {
		@extend .black_back;
		background: $black--dark;
	}

.padded { 
	padding: $gutter;

	@media #{$small} {
		padding: $gutter/2;
	}
}
.padded--tight { 
	padding: $gutter/1.5 $gutter;

	@media #{$small} {
		padding: $gutter/2;
	}
}

.padded--thick { 
	padding: $gutter*4;

	@media #{$medium} {
		padding: $gutter*2;
	}

	@media #{$small} {
		padding: $gutter;
	}
}

.padded--very_thick { 
	padding: $gutter*8;

	@media #{$medium} {
		padding: $gutter*4;
	}

	@media #{$small} {
		padding: $gutter;
	}
}

.padded--horizontally_thick { 
	padding: $gutter/2 $gutter*4;

	@media #{$medium} {
		padding: $gutter/2 $gutter*2;
	}

	@media #{$small} {
		padding: $gutter/4 $gutter;
	}
}

.padded--extremely_thick { 
	padding: $gutter*14 $gutter*2;

	@media #{$medium} {
		padding: $gutter*10 $gutter*2;
	}

	@media #{$small} {
		padding: $gutter*6 $gutter;
	}
}

.padded--medium_top { 
	padding-top: 5.357rem;

	@media #{$small} {
		padding-top: 4.143rem;
	}
}

.padded--big_top { 
	padding-top: $gutter*8;

	@media #{$medium} {
		padding-top: $gutter*4;
	}

}

.padded--flat_top { padding-top: 0; }
.padded--small_top { 
	padding-top: $gutter*3;

	@media #{$medium} {
		padding-top: $gutter*2;
	}
}
.padded--flat_bottom { padding-bottom: 0; }
.padded--small_bottom { 
	padding-bottom: $gutter*2;

	@media #{$medium} {
		padding-bottom: $gutter;
	}
}
.padded--right {
	padding-right: $gutter*3;

	@media #{$small} {
		padding-right: 0;
	}
}
.padded--left {
	padding-left: $gutter;

	@media #{$small} {
		padding-left: 0;
	}
}




.relative { position: relative; }

.full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	z-index: 9;

	&.full--bordered {
		border: 0.714rem solid white;

		@media #{$small} {
			border: none;
		}
	}
}

.absolutely_centered {
	position: absolute;
	top: 50%;
	left: 50%;

	@include translate(-50%, -50%);
}

.absolute {
	position: absolute;

	&.absolute--top_right {
		top: 0;
		right: 0;
	}
}

	

.fixed {
	position: fixed;

	top: 0;
	left: 0;

	&.fixed--top {
		width: 100%;
		z-index: 10;
	}

	&.fixed--almost_top {
		width: 100%;
		z-index: 8;
		top: 5.357rem;

		@media #{$small} {
			top: 4.143rem;
		}
	}

	

	&.fixed--bottom {
		width: 100%;
		z-index: 9;
		top: auto;
		bottom: 0;
	}

	&.fixed--bottom_no_width {
		z-index: 8;
		top: auto;
		bottom: 0;
	}
}


.border_bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.flat_bottom { margin-bottom: 0; }
.tiny_bottom { margin-bottom: ($vertical_rythm/4); }
.small_bottom { margin-bottom: ($vertical_rythm/2); }
.normal_bottom { 
	margin-bottom: ($vertical_rythm);

	@media #{$small} {
		margin-bottom: ($vertical_rythm/2);
	}
}
.medium_bottom { 
	margin-bottom: $vertical_rythm;
}

.big_bottom { 
	margin-bottom: ($vertical_rythm*2);

	@media #{$small} {
		margin-bottom: $vertical_rythm;
	}
}
.bigass_bottom { 
	margin-bottom: ($vertical_rythm*4);

	@media #{$small} {
		margin-bottom: ($vertical_rythm*2);
	}
}
.normal_bottom_on_small { @media #{$small} { margin-bottom: $vertical_rythm; } }

	.bottom--except_last {
		
		&:last-child {
			margin-bottom: 0;
		}
	}


.with_top { 
	margin-top: ($vertical_rythm*4); 


	@media #{$medium} {
		margin-top: ($vertical_rythm*2);
	}

	@media #{$small} {
		margin-top: 0;
	}
}


.text_left { text-align: left; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_justify { text-align: justify; }
.text_underline { text-decoration: underline; }
.text_uppercase { text-transform: uppercase; }
.line_through { 
	text-decoration: line-through;
	font-family: $body_font;
}
.text_left_on_small { @media #{$small} { text-align: left; } }
.text_center_on_small { @media #{$small} { text-align: center; } }

.float_right { float: right; }

.tight_line_height {
	display: inline-block;
	line-height: 1.2;
}

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }

.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.hide {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.inline {
	display: inline;
}

.inline_block {
	display: inline-block;
}

.faded_out {
	visibility: hidden;
	opacity: 0;

	@include transition(opacity $fast, visibility 0s linear $fast);
	

	&.fade_in {
		visibility: visible;
		opacity: 1;

		@include transition(opacity $fast, visibility 0s);		
	}
}



