@each $breakpoint in $breakpoints {
	.#{nth($breakpoint, 1)}_only {
		display: none;

		&.button {
			display: none;
		}
	}

	@media #{nth($breakpoint, 2)} {
		.#{nth($breakpoint, 1)}_only {
			display: block;

			&.button {
				display: inline-block;
			}
		}

		.hide_on_#{nth($breakpoint, 1)} {
			display: none !important;
		}
	}
}