
button,
input[type="submit"],
.button {
	-webkit-appearance: none;
	display: inline-block;
	width: auto;
	position: relative;

	padding: $vertical_rythm/1.25 $vertical_rythm*2;
	background: white;
	border: 1px solid transparent;
	border-radius: $border-radius;


	color: $primary;
	font-family: $body_font;
	font-size: 1.286rem;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	text-decoration: none;


	@include transition(background $fast, color $fast, border-color $fast);
	

	&:focus,
	&:hover,
	&.button--focused {
		color: white;
		background: $primary;
	}

	&:active {
		top: 0;
	}

	&:disabled,
	&.button--sold_out {
		opacity: 0.2;
		pointer-events: none;
	}

	&.button--sold_out {
		font-size: 0;

		.button__arrow {
			display: none;
		}

		&:before {
			content: "Sold Out";
			font-size: 1.286rem;
		}
	}

	&.button--no_events {
		pointer-events: none;
	}


	&.button--bordered {
		background: white;
		border: 2px solid $primary;

		&:focus,
		&:hover {
			background: $primary;
		}
	}

	&.button--transparent {
		color: white;
		background: transparent;
		border: 2px solid white;

		&:focus,
		&:hover,
		&.button--focused {
			color: $primary;
			background: white;
		}
	}

	&.button--dark {
		color: white;
		background: $primary;
		border: 2px solid transparent;

		&:focus,
		&:hover,
		&.button--focused {
			color: $primary;
			background: white;
			border: 2px solid $primary;
		}
	}


	&.button--full {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	&.button--full_on_small {
		@media #{$small} { width: 100%; }
	}
}


	.button__arrow {
		font-size: 1.429rem;
		line-height: 0;
		vertical-align: middle;
		margin-left: 1rem;
	}




