
.grid {
	padding: 0;
	margin-left: -$gutter;
	font-size: 0;

	&.grid--no_gutter {
		margin-left: 0; 
	}

	&.grid--center {
		text-align: center;
	}

	&.grid--right {
		text-align: right;
	}

	&.grid--tight {
		margin-left: -$gutter/2;
	}

	&.grid--thick {
		margin-left: -$gutter*2;
	}

	@media #{$small} {
		margin-left: -$gutter/2;
	}
}
	
	.col {
		display: inline-block;
		vertical-align: top;
		
		padding-left: $gutter;
		font-size: $base_size;

		.grid--no_gutter > & {
			padding-left: 0; 
		}

		.grid--center > & {
			text-align: left;
		}

		.grid--right > & {
			text-align: left;
		}

		.grid--tight > & {
			padding-left: $gutter/2;
		}

		.grid--thick > & {
			padding-left: $gutter*2;
		}

		.grid--middle > & {
			vertical-align: middle;
		}

		.grid--bottom & {
			vertical-align: bottom;
		}

		@media #{$small} {
			padding-left: $gutter/2;
		}

		@for $i from 1 through $number_of_columns { 
			&.col--#{$i}of#{$number_of_columns} { width: (100% / $number_of_columns * $i); }
			&.col--push_#{$i}of#{$number_of_columns} { margin-left: (100% / $number_of_columns) * $i; }
		  	&.col--extend_#{$i}of#{$number_of_columns} { margin-right: (100% / $number_of_columns) * $i; }
		}

		@each $breakpoint in $breakpoints {
			@for $i from 1 through $number_of_columns { 
				&.col--#{nth($breakpoint, 1)}--#{$i}of#{$number_of_columns} { @media #{nth($breakpoint, 2)} { width: (100% / $number_of_columns) * $i; } }
				&.col--#{nth($breakpoint, 1)}--push_#{$i}of#{$number_of_columns} { @media #{nth($breakpoint, 2)} { margin-left: (100% / $number_of_columns) * $i; } }
				&.col--#{nth($breakpoint, 1)}--extend_#{$i}of#{$number_of_columns} { @media #{nth($breakpoint, 2)} { margin-right: (100% / $number_of_columns) * $i; } }
			}
		}
	}

