
.error {
	padding: $gutter/3;
	margin: $vertical_rythm 0;

	color: $red;
	border: 1px solid $red;
	

	&:empty {
		display: none;
	}
}

.parsley-error,
.error {
	border-color: $red !important;
}

.parsley-errors-list,
.errors ul {
	list-style: none;
	// margin: -$vertical_rythm 0 $vertical_rythm/2;
	padding: 0;

	color: $red;


	&:empty {
		display: none;
	}
}