input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: $grey--dark !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: $grey--dark !important;
}


:focus {
	outline: none !important;
	-moz-outline-style: none;
}


form {
	margin-bottom: $vertical_rythm;
}


label {
	

	
	&.label--sort {
		display: inline-block;
		font-size: 1.143rem;

		vertical-align: middle;
	}

	
	&.label--required {
		
		&:after {
			content: " *";
			color: $highlight;
		}
	}
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
optgroup,
select,
textarea,
.input {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;

	font-size: 1.286rem;
	background: white;
	padding: $vertical_rythm/1.5 $vertical_rythm;
	border: 1px solid transparent;
	border-radius: $border_radius;

	@include transition(border-color $fast);

	&:focus {
		// border-color: $primary;
	}


	&.input--big {
		font-family: $headings_font;
		font-size: 1.286rem;
		padding: $vertical_rythm/1.5 $vertical_rythm $vertical_rythm/1.4;
		border: 2px solid white;
	}

	&.input--transparent {
		color: white;

		background: transparent;
		border: 2px solid white;

		&:focus {
			
		}
	}
}



textarea {
	height: $vertical_rythm*6;
}


.select_container {
	display: inline-block;
	position: relative;
	z-index: 4;

	@media #{$bigger_than_small} {
		height: 3.95rem;
		vertical-align: middle;

		&:hover {
			height: 3.9rem;
		}
	}
}


select {
	cursor: pointer;

	&.select--sort,
	&.select--tag {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		
		display: inline-block;
		width: auto;
		height: 3.95rem;
		overflow-y: hidden;
		margin-bottom: 0;
		margin-left: $gutter;

		font-size: 1.143rem;
		font-weight: bold;
		color: white;
		
		border: 0;
		border-left: 1px solid $grey--dark;
		border-right: 1px solid $grey--dark;
		padding: 0;
    
		background: transparent;


		@media #{$small} {
			padding: $vertical_rythm $vertical_rythm*2;
		}


		@media #{$bigger_than_small} {
			option {
				padding: $vertical_rythm $vertical_rythm*2;
				font-size: 1.143rem;
				font-weight: bold;
				color: white;
			}

			&:hover,
			&:focus {
				height: auto;
				border-bottom: 1px solid $grey--dark;

				option {
					color: $black;
					background: white;

					&:hover {
						color: $black--dark;
						background: $grey;
					}
				}
			}
		}
		
		


		@include transition(border-color $fast, background $fast, color $fast, box-shadow $fast, -webkit-box-shadow $fast);


		

		@media #{$small} {
			width: 100% !important;
			margin-left: 0;
		}
	}


	&.select--tag {

		option {
			font-family: $headings_font;
			text-transform: uppercase;
		}


		&:hover,
		&:focus {
			border-bottom: none;

			option {
				color: $black--light;
				background: $grey;

				&:hover {
					color: $black;
					text-decoration: underline;
				}
			}
		}
		

		border: none;
		margin-left: 0;
		margin-right: -0.25rem;
	}
}



input[type="file"] {
	display: block;
	font-size: 0.9rem;
}

input[type="radio"],
input[type="checkbox"] {

	& + label {
		position: relative;
		cursor: pointer;
		display: inline-block;

		&:active {
			top: 1px;
		}
	}


	&.checkbox--styled {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		display: inline-block;
		width: 1rem;
		height: 1rem;
		margin-right: $gutter/3;
		
		border: 2px solid $grey--dark;

		@include transition(background-color $fast, border-color $fast);


		&:checked {
			background-color: $black--light;
			border-color: $black--dark;

			+ label {
				color: $black;
			}
		}
	}


	&.radio--variant {
		display: none;

		& + label {
			cursor: pointer;

			display: inline-block;
			width: 1.286rem;
			height: 1.286rem;
			margin: $vertical_rythm/2 $vertical_rythm/10 0;

			border: 1px solid transparent;
			border-radius: 50%;

			background-color: $grey--light;
			background-size: cover;

			opacity: 0.7;

			@include transition(background-color $fast, border-color $fast, opacity $fast);
		}
			
		&:checked {

			& + label {
				opacity: 1;
			}
		}

		&:disabled {

			& + label {
				opacity: 0.3;
			}
		}

		&.radio--variant--bordered {

			& + label {
				border-color: $grey--dark;
			}
		}

		&.radio--variant--big {

			& + label {
				width: 1.857rem;
				height: 1.857rem;

				margin: $vertical_rythm/2 $vertical_rythm/4 0;
			}
		} 
	}


	&.radio--underline {
		display: none;

		& + label {
			color: $grey--dark;
			font-weight: bold;

			margin: $vertical_rythm/2 $vertical_rythm/10;
		}

		&:checked {

			& + label {
				color: $primary;
				border-bottom: 2px solid $primary;
			}
		}
	}
}
