img {
	display: block;
	width: 100%;
	max-width: 100%;
	
	&.img--auto {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	&.img--rounded {
		
	}



	&.img--logo,
	&.img--temp_logo {
		max-width: 14rem;
		margin-left: auto;
		margin-right: auto;
	}

	&.img--logo {
		max-width: 16rem;

		@media #{$small} {
			max-width: 8rem;
		}
	}

	&.img--logo--small {
		max-width: 12rem;

		@media #{$small} {
			max-width: 8rem;
		}
	}

	&.img--logo--smaller {
		max-width: 8rem;
	}
}


	
.container {
	position: relative;
	display: block;
}


	.container__image {
		position: relative;
		z-index: 1;

		&.container__image--front {
			position: absolute;
			top: 0;
			left: 0;
		}
	}


	.container__text {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
	}

		.container__text--top_right {
			top: 0;
			right: 0;
		}

		.container__text--bottom_left {
			bottom: 0;
			left: 0;
		}

		.container__text--bottom_right {
			bottom: 0;
			right: 0;
		}

		.container__text--center {
			top: 50%;
			width: 100%;
			text-align: center;

			-ms-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
		}

