*, *:before, *:after {
	-moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-sizing: border-box !important;
}

html {
	font: #{$base_size}/#{$line_height} $body_font;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
	color: white;
	background: $primary;
}

::selection {
	color: white;
	background: $primary;
}

body {
	color: $primary;
	background: white;

	overflow-x: hidden;

	border: 0.714rem solid white;
	border-top: none;


	@media #{$small} {
		border: none;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: $headings_font;
	font-weight: normal;

	margin: 0 0 $vertical_rythm;


	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	& + &,
	a + & {
		margin-top: 0;
	}
}


h1 {
	font-size: 3.429rem;
	letter-spacing: $letter_spacing*2;

	
	@media #{$small} {
		font-size: 2.714rem;
	}


	&.h1--smallish {
		font-size: 2.429rem;
		font-weight: bold;
		letter-spacing: $letter_spacing;

		@media #{$small} {
			font-size: 1.286rem;
		}
	}

	&.h1--small {
		font-size: 1.571rem;
		font-weight: bold;
		letter-spacing: 0;
		text-transform: uppercase;

		@media #{$small} {
			font-size: 1.286rem;
		}
	}
}

h2 {
	font-size: 2.571rem;

	@media #{$small} {
		font-size: 1.286rem;
	}

	&.h2--wide {
		letter-spacing: $letter_spacing;
	}

	&.h2--small {
		font-size: 2.286rem;
		text-transform: uppercase;
		font-weight: bold;

		@media #{$small} {
			font-size: 1.286rem;
		}
	}
}

h3 {
	font-size: 1.429rem;
	letter-spacing: $letter_spacing;

	@media #{$small} {
		font-size: 1.286rem;
	}

	small {
		font-size: 1.143rem;
	}

	&.h3--big {
		font-size: 1.714rem;

		@media #{$small} {
			font-size: 1.286rem;
		}
	}

	&.h3--small {
		font-size: 1.286rem;
	}

	&.h3--bold {
		font-weight: bold;
	}
}

h4 {
	font-size: 1.214rem;
	letter-spacing: $letter_spacing;
}

h5 {
	font-size: 1.143rem;
}


h6 {
	font-size: 1rem;

	&.h6--small {
		font-size: 0.929rem;
		text-transform: uppercase;
		letter-spacing: $letter_spacing*2;
	}

	&.h6--bold {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: $letter_spacing*2;
	}
}

small,
.small {
	font-size: 0.846rem;
	vertical-align: text-top;
}

strong,
.strong {
	font-weight: bold;
}


p, figure, blockquote, pre {
	margin: 0 0 $vertical_rythm;
}

p {


	&.p--big {
		font-size: 1.143rem;
	}

	&.p--thicklineheight {
		line-height: 1.8;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul, ol {
	padding-left: 1.308rem;
}

	li {
		margin: 0;
	}

blockquote {
	color: $grey;

	font-style: italic;
	text-align: center;

	cite {
		color: $grey--dark;
	}
}
	


a {
	// display: inline-block;
	position: relative;
	outline: none !important;

	color: inherit;
	text-decoration: none;

	@include transition(color $fast);


	&:focus,
	&:hover {
		color: $highlight;
	}

	&.a--underline {
		text-decoration: underline;
	}

	&.a--highlight {
		color: $highlight;
		text-decoration: underline;

		&:focus,
		&:hover {
			color: $secondary;
		}
	}

	&.a--secondary {
		color: $secondary;
		text-decoration: underline;
		text-transform: uppercase;

		&:focus,
		&:hover {
			color: $highlight;
		}
	}


	&:active {
		// top: 1px;
	}
}

em {
	
}


hr {
	margin: $vertical_rythm 0;
	border: 0;
	border-top: 1px solid $grey--dark;

	.grid > & {
		margin-left: $gutter; 
	}
}


pre,
code {
	font-size: 0.8rem;

	&[class*="language-"] {
		background: transparent;
		padding: 0;

		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
	}
}


iframe {
	display: block;
	width: 100%;
}
	