.currencies {
	@extend .fixed;
	
	display: inline-block;
	width: auto;

	z-index: 7;
	left: auto;
	right: $gutter*11;
	top: auto;
	bottom: 0;


	background: $black--light;

	@media #{$small} {
		right: $gutter*9;
	}
}

	.currency {
		display: inline-block;
		cursor: pointer;

		color: $grey--dark;
		font-size: 0.857rem;
		font-weight: bold;
		letter-spacing: $letter_spacing;

		padding: $vertical_rythm/4 $vertical_rythm/2;

		&.selected {
			color: white;
		}
	}