
header {
	
}

.header {
	// border-right: 0.714rem solid white;
	// border-left: 0.714rem solid white;

	// @media #{$small} {
	// 	border: none;
	// }
}


	.header__logo {
		max-width: 11rem;

		&.header__logo--ctr {
			max-width: 7rem;
		}
	}


	.header__description {

		em {
			font-size: 1.429rem;
			font-style: normal;

			display: block;
			margin-top: -$vertical_rythm;
		}
	}

