
nav {
	// font-size: 0;
}

	.nav__button {
		color: $black--light;
		font-family: $headings_font;
		font-size: 1.429rem;
		letter-spacing: 0;

		margin-right: -0.25rem;
		padding: $gutter*1.5 $gutter*2;
		background: transparent;

		@media #{$small} {
			font-size: 1.286rem;
			padding: $gutter $gutter/3;
		}


		&.nav__button--search {
			line-height: 0;

			i {
				font-size: 1.429rem;
			}
		}
	}


	.nav__container	{
		opacity: 0;
		visibility: hidden;
		max-height: 90%;
    	overflow-y: auto;

		@include transition(opacity $fast, visibility 0s linear $fast);

		&.nav__container--active {
			opacity: 1;
			visibility: visible;

			@include transition(opacity $fast, visibility 0s);
		}
	}


		.nav__list {
			color: $grey--dark;
			font-size: 1.286rem;
			line-height: 1.444;

			list-style-type: none;
			padding-left: 0;


			&.nav__list--small {
				font-size: 1.143rem;
				line-height: 1.188;

				strong {
					font-size: 1.286rem;
				}
			}


			li {

				&:first-child {
					margin-bottom: $vertical_rythm;
				}
			}

			a {

				&:hover,
				&:focus {
					color: white;
					text-decoration: underline;
				}
			}
		}




	