
.breadcrumbs {
	z-index: 0;
	position: absolute;
	top: $gutter*11.5;
	left: 0;

	padding: $gutter;

	@include transform(translate(-100%) rotate(-90deg));
	@include transform-origin(top right);

	.black_back & {
		color: white;
	}

	&.breadcrumbs--fixed {
		position: fixed;
		top: $gutter*4 !important;
	}

	@media #{$medium} {
		padding: $gutter/2 $gutter;
	}
}

	.breadcrumb {
		font-family: $headings_font;
		font-size: 1.286rem;
		letter-spacing: $letter_spacing;
	}

		.breadcrumb__arrow {
			font-size: 1.5rem;
			margin: 0 $vertical_rythm/1.5;

			&:nth-of-type(1) {
				display: none;
			}
		}



	.on_top_of_breadcrumbs {
		position: relative;
		z-index: 4;
	}