

.collection__description {

	em {
		display: none;
	}
}


.product {

}

	.product__image {
		position: relative;

		.container__text {
			opacity: 0;

			@include transition(opacity $fast);
		}


		&:hover,
		&:focus {

			.product__white {
				background: fade-out(white, 0.5);
			}

			.container__text {
				opacity: 1;
			}
		}
	}


		.product__white {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;

			background: fade-out(white, 1);

			@include transition(background $fast);
		}


	.product__bordered {
		border-right: 1px solid $grey--dark;
		height: 5rem;
    	overflow: visible;

    	@media #{$small} {
    		border: none;
    	}
	}


	.product__description {
		color: $grey--dark;

		strong,
		b {
			font-size: 1.143rem;
			color: $primary;
		}
	}