
.index_only {
	display: none;
}



.index,
.template-index,
#this-is-ctr {

	.hide_for_index { display: none; }
	.index_only { display: inline-block; }

}

#this-is-ctr { 
	border: none;

	.hide_for_ctr { display: none; }
}

	.index__logo {
		max-width: 8rem;
		margin-right: auto;
		margin-left: auto;
	}



	.index__box {
		width: 50%;
		padding: $gutter*16 $gutter*2;

		&:nth-child(3n + 1) {
			width: 100%;
		}

		@media #{$medium} {
			padding: $gutter*10 $gutter*2;
		}

		@media #{$small} {
			padding: $gutter*4 $gutter;
			width: 100% !important;
		}
	}