

.page {
	font-size: 1.143rem;

	h2 {
		font-size: 2.286rem;
		margin-bottom: $vertical_rythm*2;
	}

	h6 {
		font-size: 1rem;
		font-family: $body_font;
		font-style: italic;
		margin: -$vertical_rythm*1.5 0 $vertical_rythm*2;
	}

	strong {
		font-family: $headings_font;
		letter-spacing: $letter_spacing;
	}

	img {
		width: 140%;
		max-width: 140%;
		margin: $vertical_rythm*3 -20%;

		@media #{$medium} {
			width: 120%;
			max-width: 120%;
			margin: $vertical_rythm*3 -10%;
		}

		@media #{$small} {
			width: 100%;
			max-width: 100%;
			margin: $vertical_rythm*3 0;
		}
	}

	a {

		&:only-child {
			@extend .button;
			@extend .button--dark;

			margin: $vertical_rythm*2 0;
		}
	}

	table {
		width: 200%;
		max-width: 200%;
		margin: $vertical_rythm*2 -50%;


		td {
			width: 50%;
		}

		img {
			width: 100% !important;
			max-width: 100% !important;
			margin: 0 0 $vertical_rythm*2 !important;
		}

		p {
			@extend .padded--thick;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		@media #{$medium} {
			width: 150%;
			max-width: 150%;
			margin: $vertical_rythm*2 -25%;
		}

		@media #{$small} {
			width: 100%;
			max-width: 100%;
			margin: $vertical_rythm*2 0;

			td {
				display: block;
				width: 100%;
			}
		}
	}

	&.page--about {
		font-size: 1.286rem;
	}


}

	.page--ctr {
		

		h2 {
			color: white;
			font-size: 4.286rem;
			font-weight: bold;

			margin-bottom: 0;

			@media #{$medium} {
				font-size: 3rem;
			}

			@media #{$small} {
				font-size: 2rem;
			}
		}

		.padded--very_thick	{
			padding-left: $gutter*2;
			padding-right: $gutter*2;
		}
	}

