


.modal {
	@extend .full;
	@extend .fixed;


	background-color: fade-out($black, 0.2);

	@include transition(background-color $slow, visibility 0s);


	&.modal--hide {
		visibility: hidden;
		background-color: fade-out($black, 1);

		@include transition(background-color $slow, visibility 0s linear $slow);
	}


	&.modal--light {
		background-color: fade-out(white, 0.2);

		&.modal--hide {
			background-color: fade-out(white, 1);
		}
	}
}


	.modal__box {
		width: 100%;
		max-width: $gutter*18;
		margin-right: auto;
		margin-left: auto;
		opacity: 1;

		position: relative;
		z-index: 10;

		@include transition(opacity $slow);

		&.modal__box--big {
			max-width: $gutter*40;
		}

		.modal--hide & {
			opacity: 0;
		}
	}

	.modal__back {
		@extend .full;
		@extend .fixed;

		z-index: 9;
	}


