
.cart {
	z-index: 9;
	width: 100%;
	top: auto;
	bottom: -29.571rem;

	padding-top: 0;
	padding-bottom: 0;


	@include transition(bottom $fast);


	&.cart--opened {
		bottom: 0;
	}

	@media #{$small} {
		bottom: -27.571rem;
	}
}



	.cart__button {
		position: absolute;
		right: 0;
		bottom: 100%;

		background: $grey;
		padding: $gutter/2 $gutter;
		margin-right: $gutter*3;

		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;


		&:active {
			top: auto;
		}

		@media #{$small} {
			margin-right: $gutter;
		}
	}

		.cart__icon {
			font-size: 1.143rem;
			margin: 0 0.429rem;
			vertical-align: text-bottom;
		}


		.cart__arrow {
			display: inline-block;
			font-size: 0.786rem;
			margin-left: 1rem;

			@include transformer;

			.cart--opened & {
				@include transform(rotate(180deg));
			}
		}


	.cart__container {
		border: 0.5rem solid $grey;
		padding: $gutter;
		background: white;
	}

		.cart__items {
			height: 26rem;
			overflow-y: auto;

			@media #{$small} {
				height: 16rem;
				margin-bottom: $vertical_rythm/2;
			}
		}

			.cart__item {
				padding-right: $gutter;
				border-right: 2px solid $grey;
			}


				.cart__item__quantity {
					display: inline-block;
					
					font-size: 1.286rem;
					font-weight: bold;
					text-align: center;
					width: 2.5rem;
					line-height: 2.5rem;
					
					color: white;
					background: black;
					border-radius: 50%;
				}


				.cart__item__increment {
					display: inline-block;
					font-size: 1.286rem;
				}


